DL, DD { margin: 0 0 1.54em}
    DT { margin: 0}

OL{ list-style: decimal; margin: 0 0 1.54em; padding: 0 0 0 20px}

OL.chapter { list-style-type: none; list-style-position: outside}
	OL.chapter LI { counter-increment: section; counter-reset: sub-section}
		OL.chapter LI:before { content: counter(section) '. '} 
		OL.chapter OL LI  { counter-increment: sub-section; counter-reset: none; list-style-type: none}
        	OL.chapter OL LI:before { content: counter(section) '.' counter(sub-section) '. '} 
		OL.chapter UL LI { counter-increment: none}
		OL.chapter UL LI:before { content: normal}

UL { list-style-image: url(/a/projects/sakh-invest-portal/img/b.gif);
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0;
margin: 0 0 1.54em; padding: 0 0 0 20px
}
    UL.inline { list-style-image: none; list-style-type: none}
        UL.inline LI { display: inline; margin-left: .3em}
            UL.inline LI:after { content: ","}
            UL.inline .last:after { content: ""}
	/*Need to check global implementation padding property*/
	/*
    OL { *margin-left: 1.77em}
    #main UL LI { *list-style-type: square; *margin-left: 16px}
	OL OL, UL OL, OL UL, UL UL { margin: 0 0 0 1.54em} */
 
.arj,  UL.contents { list-style-image: none; list-style-type: none; padding: 0}
	.arj LI,  UL.contents LI { margin-bottom: 1.54em}
		UL.contents LI TIME { margin-left: .6em}

.m_local { border-bottom: 1px solid #D6D6CC; padding: 0 0 1.462em 0}
	.m_local LI { border-left: 1px solid #40B2B2; display: inline; padding: 0 .3em 0 .6em}
	.m_local LI:first-child, .m_local .first { border-left: 0 none; padding-left: 0}


.pager { list-style-image: none; list-style-type: none; margin: 0; padding: .846em 0 0}
	.pager LI  { float: left; text-align: center; *overflow-y: hidden; margin-right: 1px; height: 30px; min-width: 29px; width: 29px}
		.pager A  { background: #99A6E5; color: #FFF; display: block; float: left; line-height: 32px; text-decoration: none; height: 30px; min-width: 29px; width: 29px}
        HTML>BODY .pager LI, HTML>BODY .pager A { width: auto}
        .pager .current, .pager A:hover { background: #404C8C}
        .pager .current { cursor: default}
        .pager .next, .pager .prev { color: }
		.pager .prev { margin-left: -.4em}
		.pager .next A, .pager .prev A, .pager .next SPAN, .pager .prev SPAN { padding: 0 .4em}