@charset "UTF-8";
#footer { background: url(/a/projects/betplaynow/img/grey.png) no-repeat 100% -770px; margin-left: -50%; position: absolute; bottom: -1.15em; left: 50%; height: 240px; width: 100%}
#footer UL { background: url(/a/projects/betplaynow/img/grey.png) no-repeat 0 -530px; list-style-image: none; list-style-type: none; margin: 0; height: 240px; width: 100%}
		
#f_payments, #f_responsible_gaming { display: block; float: left; text-indent: -4300em; margin: 120px 30px 0 0; height: 40px}
#f_payments { background: url(/a/projects/betplaynow/img/ps.gif) no-repeat; margin-left: 40px; width: 90px}
#f_responsible_gaming { background: url(/a/projects/betplaynow/img/24.png) no-repeat -130px -360px; width: 40px}
#f_corporate {  float: right; width: 460px; margin-top: 120px; padding-right: 40px}
	 #footer UL UL { background: none; text-align: right; margin: 0; height: 120px; width: 450px}
		#footer UL UL LI { display: inline-block; white-space: nowrap}
			#footer UL UL A { margin-left: 20px}

