HTML, BODY { height: 100%}
BODY { background: #E9E9EC url(/a/projects/polylog/img/body.png) repeat-x fixed; color: #565659; font: x-small/140% Arial, Helvetica, sans-serif; font-size/**/:/**/ small; text-align: center; margin: 29px 0 2em; padding: 0}

A { color: #4066B2; outline: 0}
 A.tel { color: #565659 !important; cursor: default; text-decoration: none}
A:visited { color: #B24080}
A:hover { color: #CC4033}
BLOCKQUOTE { margin: 0 0 1.33em}
DFN { font-style: normal}
	DIV, OBJECT { outline: 0}
H1, #press H1, #news_08 H1, #news_07 H1, #news_06 H1, #news_05 H1, #news_04 H1 { color: #FFF; font: normal 165%/100% "Arial Narrow", Arial, Helvetica, sans-serif}
	.press H1, .news H1, .jobs H1 { font: bold 105%/120% Arial, Geneva, Helvetica, sans-serif}
H2 { color: #727274; font: bold 100% Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 1.25em 0 .25em}
	H2 A, H2 A:visited { color: #727274; text-decoration: none}
	H2 A:hover { text-decoration: underline}
	H2.bar { background: url(/a/projects/polylog/img/greys.png) no-repeat right center; margin-bottom: .6em; padding-right: 15px}
		H2.bar SPAN { background: url(/a/projects/polylog/img/greys.png) no-repeat -1400px 50%; display: block; padding: 7px 0 0 16px; height: 29px; height/**/:/**/ 22px}
H3, .h3 { color: #565659; font-size: 100%; text-transform: none; margin: 0}
H4, .h4 { color: #565659; float: left; font-size: 100%; text-transform: none; margin: 0 .4em 0 0}
HR { border: none 0; border-top: 1px solid #89898C; margin-bottom: 1.33em; height: 1px}
IMG { border: 0}
P { margin: 0 0 1.33em}
Q:before{ content: no-open-quote}
Q:after{ content: no-close-quote}
STRONG { color: #727274}
	A STRONG { color: #4066B2}
	A:visited STRONG { color: #B24080}
	A:hover STRONG { color: #CC4033}
SUP { font-size: 80% !important; *font-size: 100% !important; line-height: 1; position: relative; bottom: 1.6ex; bottom/**/:/**/ 1ex; vertical-align: baseline; _vertical-align: bottom; height: 0}	

/* Layout ----------------------------------------------------------------------------------------------------------*/
#container { background: #F2F2F5; text-align: left; margin: 0 auto; padding-bottom: 1.33em; position: relative; max-width: 957px; min-width: 754px; width: 99%}
	#main { margin-right: 261px; padding-left: 29px}
		.col1_2 { float: left; width: 47.8%}
		.col2_2 { float: right; width: 47.8%}
		.col1_3, .col2_3, .col3_3 { float: left}
		.col1_3, .col2_3 { margin-right: 20px}

/* Clearing --------------------------------------------------------------------------------------------------------*/
.cfx:after, #container:after, #comment-form:after { clear: both}
.cfx_left:after { clear: left}
.cfx:after, #container:after, .cfx_left:after, #comment-form:after { content: "."; display: table; font-size: 0; line-height: 0; height: 0; visibility: hidden}
.cfx, #container, .cfx_left, #comment-form { display: inline-block}
/* Hides from IE-mac \*/
* HTML .cfx, * HTML #container, * HTML .cfx_left, * HTML #comment-form { height: 1%}
.cfx, #container, .cfx_left, #comment-form { display: block}
/* End hide from IE Mac */

.clearer { clear: both; font-size: 1px; line-height: 0; height: 0}

/* Header ----------------------------------------------------------------------------------------------------------*/
.cap { background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -440px; margin: 0 auto; max-width: 957px; min-width: 754px; width: 99%}
	.cap DIV { background: url(/a/projects/polylog/img/greys.png) no-repeat -990px 0; margin-right: 29px; height: 29px}

#header_wrapper { margin-bottom: 15px; position: relative}
	#header { background: #4066B2 url(/a/projects/polylog/img/header.png) no-repeat; display: table; height: 174px}
		#header[id] { width: 100%}
		#header H1 { display: table-cell; padding-right: 261px; position: static; *position: absolute; top: 50%; vertical-align: middle}
			#header H1 A { color: #DCE3F1; cursor: default; display: block; text-decoration: none; padding: 0 0 34px 29px; *position: relative; *top: -50%}
				#header H1 A STRONG { color: #DCE3F1}
				.blog #header H1 A:hover { cursor: pointer; cursor: hand; text-decoration: underline}
				#blog #header H1 A:hover { cursor: default; display: block; text-decoration: none}
				#header H1 EM { font-style: normal}
		#header .pic { background: url(/a/projects/polylog/img/header/paparazzi.png) no-repeat; position: absolute; right: -1px; bottom: 2px; height: 219px; width: 252px}
			#header .slogan { top: -6px !important}

/* Menus -----------------------------------------------------------------------------------------------------------*/
/* Main */
#main_menu { background: url(/a/projects/polylog/img/greys.png) no-repeat -420px -100px; list-style-image: none; list-style-type: none; margin: 0; padding-left: 15px; height: 58px}
	#main_menu .btn { float: left; text-align: center; margin: 15px 1px 0 0; position: relative}
	#main_menu .btn:hover { background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -1470px}
		#btn_services { z-index: 4}
		#btn_clients { z-index: 3}
		#btn_company { z-index: 2}
		#btn_community { z-index: 1}
		#main_menu .btn A { display: block}
		#main_menu .btn:hover A { background: url(/a/projects/polylog/img/greys.png) no-repeat -2400px -1430px}
			#main_menu .btn SPAN { background-repeat: no-repeat; cursor: pointer; cursor: hand; display: block; text-indent: -4600em; margin: 0 auto; height: 29px}
			#main_menu #btn_home SPAN { background-position: 50% 0}
				#main_menu #btn_home:hover SPAN, #front #btn_home SPAN { background-position: 50% -40px}
			#main_menu #btn_services SPAN { background-position: 50% -80px}
				#main_menu #btn_services:hover SPAN, .services #btn_services SPAN { background-position: 50% -120px !important}
			#main_menu .btn#btn_clients SPAN { background-position: 50% -160px}
				#main_menu #btn_clients:hover SPAN, .clients #btn_clients SPAN { background-position: 50% -200px !important}
			#main_menu .btn#btn_company SPAN { background-position: 50% -240px}
				#main_menu #btn_company:hover SPAN, .company #btn_company SPAN, .press #btn_company SPAN, .news #btn_company SPAN, .jobs #btn_company SPAN { background-position: 50% -280px !important}
			#main_menu .btn#btn_community SPAN { background-position: 50% -320px}
				#main_menu #btn_community:hover SPAN, .community #btn_community SPAN, .blog #btn_community SPAN, .help #btn_community SPAN, .reply #btn_community SPAN { background-position: 50% -360px !important}
			#main_menu #phone { background-position: 50% -500px; float: right; text-indent: -4600em; margin: 0; height: 58px}

/* Drop-downs */
#main_menu .btn UL { background: #E9E9EC url(/a/projects/polylog/img/drop-down.png) repeat-x center bottom; border: 1px solid #AFAFB2; border-bottom-width: 2px; font: 85% Tahoma, Geneva, Arial, sans-serif; display: none; text-align: left; list-style-image: none; list-style-type: none; margin: 0; padding: 1px 1px .6em; position: absolute; top: 27px; left: 0; width: 200px; width/**/:/**/ 196px}
#main_menu .btn:hover UL { display: block}
	#main_menu .btn LI { float: left; margin: 0 0 1px; width: 196px}
		#main_menu .btn LI A { background: none !important; color: #565659; text-decoration: none; padding: 3px 6px 4px; width: 196px; width/**/:/**/ 184px}
		#main_menu .btn:hover LI A { background: none}
		#main_menu .btn LI A:hover { background: #DDDDE0 !important}

/* Sidebar ---------------------------------------------------------------------------------------------------------*/
#sidebar { float: right; padding: 0 29px 11em 0; width: 232px; width/**/:/**/ 203px}

#sidebar H1 { color: #565659; font: 85% Tahoma, Geneva, Arial, sans-serif; text-align: center; margin: 0; padding-top: 21px; height: 232px; height/**/:/**/ 203px}
#sidebar H1 A { background: url(/a/projects/polylog/img/reds.png) 0 -60px no-repeat; display: block; text-indent: -4600em; margin: 0 auto 20px; height: 87px; width: 87px}
#sidebar H1 SPAN { white-space: nowrap}

#sidebar H3 { background: #AFAFB2; color: #FFF}
	#sidebar H3 A, #sidebar H3 SPAN { background:  url(/a/projects/polylog/img/greys.png) no-repeat; color: #FFF; display: block; text-decoration: none; padding: 13px 15px 6px; *padding-top: 12px}
	#sidebar H3 A:hover { text-decoration: underline}

.pull_quote { background: no-repeat left center; padding-left: 73px; position: absolute; right: 29px; bottom: 1.33em; min-height: 58px; width: 203px; width/**/:/**/ 130px}

/* Body Copy -------------------------------------------------------------------------------------------------------*/
DIV.across, IMG.across { margin-bottom: 1.33em}
	DIV.across DIV { background-position: center center; background-repeat: no-repeat; _float: left; width: 100%}
H2.lead { float: left; margin: .15em .4em 0 0}
P.lead, OL.lead, UL.lead { font-size: 115%; line-height: 140%}
STRONG.em { color: #727274}
STRONG.h2 { color: #727274; font-size: x-small; font-size/**/:/**/ small; text-transform: uppercase}

.box, #sidebar .item_list { background: #E9E9EC url(/a/projects/polylog/img/greys.png) left bottom no-repeat}
	P.box { padding: .8em 15px 1.33em}
	#main .box { float: left; margin: 2px 20px 10px 0; width: 203px}
		#main .box H2 { background: url(/a/projects/polylog/img/greys.png) no-repeat -210px 0; margin: 0; padding: 16px 15px 3px}
		#main .box P, #main .box A.more { display: block; margin: 0 15px 1.33em}
		#main .box UL { margin: 0 15px 1.33em 31px}
			#main .box UL.case_studies { margin: 0 0 1.33em 15px}
.byline { margin-bottom: .25em}
	.byline, .remark, .date, .bl_og { color: #89898C}
.caption { margin-bottom: .4em}
.closed { display: none}
.common_h { margin-top: 1.25em}
.enlarged_click_area A { color: #565659 !important; text-decoration: none}
	.enlarged_click_area A SPAN { background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -170px; white-space: nowrap; padding-right: 21px}
.img_caption { background: #E5E5E8; color: #727274; padding: 4px}
	.horizontal { width: 330px; width/**/:/**/ 319px}
	.img_caption IMG { border: 0 none !important; display: block; margin-bottom: .4em}
	.vertical { width: 211px; width/**/:/**/ 203px}
.left { float: left}
	IMG.left, DIV.left { margin: 5px 20px 10px 0}
.nowrap { white-space: nowrap}
.q_list { color: #727274}
	.q_list Q { color: #565659}
.right { float: right}
	IMG.right, DIV.right { margin: 5px 0 10px 20px !important}

/* Lists -----------------------------------------------------------------------------------------------------------*/
DL { margin: 0 0 1.33em}
	DD { margin: 0 0 1.33em}
		DL.brief DD { margin-bottom: .4em}
		DD A { color: #565659 !important; text-decoration: none}
			#help DD A { color: #4066B2 !important; text-decoration: underline}
			#help DD A:hover { color: #CC4033}
	DL.col1_2, DL.col2_2 { margin-bottom: 0}
		DL.col1_2 DT, DL.col2_2 DT { padding-left: 78px; position: relative}
			DL.col1_2 DT IMG, DL.col2_2 DT IMG { position: absolute; left: 0; top: .2em}
		DL.col1_2 DD, DL.col2_2 DD { padding-left: 78px}

LI { margin-bottom: .4em}
	LI.wht_qm { padding-left: .5em}

.bcol LI  { float: left; width: 232px}
	.bcol LI.odd { background: transparent; margin-right: 50px; clear: left}

OL { margin: 0 0 1.33em 1.5em; padding: 0}
	OL.em { list-style: none; margin-left: 0}
		OL.em LI { background: url(/a/projects/polylog/img/greys.png) no-repeat; padding-left: 19px}
			OL.em .li01 { background-position: -418px -216px}
			OL.em .li02 { background-position: -890px -356px}
			OL.em .li03 { background-position: -420px -516px}
			OL.em .li04 { background-position: -890px -666px}
			OL.em .li05 { background-position: -420px -826px}
			OL.em .li06 { background-position: -890px -966px}
			OL.em .li07 { background-position: -420px -1126px}
			OL.em .li08 { background-position: -890px -1265px}
			OL.em .li09 { background-position: -1360px -216px}
			OL.em .li10 { background-position: -1360px -356px}
			OL.em .li11 { background-position: -1360px -516px}
UL, .blog #main .item_list { list-style: url(/a/projects/polylog/img/bullet.gif) outside; margin: 0 0 1.33em 16px; padding: 0}
	UL UL, OL UL { margin-bottom: 0}
	UL.clients { list-style-image: none; list-style-type: none; margin: 0 0 1.15em}
		UL.clients LI { padding: 11px 0 11px 70px; position: relative; min-height: 36px; height: 58px; height/**/:/**/ 36px}
			HTML>BODY UL.clients LI { height: auto}
			UL.clients LI SPAN { background: url(/a/projects/polylog/img/logos/clients-compact.png) no-repeat; display: block; margin-top: -29px; position: absolute; top: 50%; left: 0; height: 58px; width: 58px}
				UL.clients #cln_rusobel SPAN { background-position: -176px -176px}
				UL.clients #cln_philips SPAN { background-position: -94px -114px}
				UL.clients #cln_uralsib SPAN { background-position: -176px -11px; margin-top: -36px}
				UL.clients #cln_beeline SPAN { background: url(/a/projects/polylog/img/logos/clients-compact-yellows.png) no-repeat -94px -12px}
				UL.clients #cln_schwarzkopf SPAN { background-position: -94px -11px}
				UL.clients #cln_samsung SPAN { background-position: -258px -30px}
				UL.clients #cln_rao_ees SPAN { background: url(/a/projects/polylog/img/logos/clients-compact-yellows.png) no-repeat -11px -94px}
				UL.clients LI.line { min-height: 0; height: 20px}
					HTML>BODY UL.clients LI.line { height: auto}
					UL.clients LI.line SPAN { margin-top: -9px; height: 20px}
		#cln_all { margin-bottom: 0}
	UL.box, .item_list { list-style-image: none; list-style-type: none; margin: 0 0 1.2em; padding: .8em 15px 1.33em}
	.box UL.case_studies { list-style-image: none; list-style-type: none; margin: .7em 6px 0 15px}
		.box UL.case_studies LI { background: url(/a/projects/polylog/img/greys.png) -2330px -1150px no-repeat; float: left; margin: 0 9px 9px 0}
			#training UL.case_studies LI { float: none}
			UL.case_studies LI A { background: url(/a/projects/polylog/img/logos/clients-compact.png) no-repeat; display: block; text-indent: -640em; height: 82px; width: 82px}
				UL.case_studies #gazprom_oil { background-position: -164px -82px}
				UL.case_studies #johnson { background-position: -246px -82px}
				UL.case_studies #lukoil { background-position: 0 -82px}
				UL.case_studies #nda { background-position: -82px -164px}
				UL.case_studies #philips { background-position: -82px -82px}
				UL.case_studies #rus_bel { background-position: -164px -164px}
				UL.case_studies #samsung { background-position: -246px 0}
				UL.case_studies #sangtuda { background-position: 0 -164px}
				UL.case_studies #schwarzkopf { background-position: -82px 0}
				UL.case_studies #uralsib { background-position: -164px 0}
				UL.case_studies #beeline, UL.case_studies #ochakovo { background: url(/a/projects/polylog/img/logos/clients-compact-yellows.png) no-repeat}
					UL.case_studies #beeline { background-position: -82px 0}
					UL.case_studies #ochakovo { background-position: 0 0}
	UL.col1_2, UL.col2_2 { width: 44%}
	UL.col1_3, UL.col2_3, UL.col3_3 { width: 25%}
	UL.cfx, UL.inline, UL.unmarked, OL.unmarked { list-style-image: none; list-style-type: none; margin: 0 0 1.33em}
		UL.inline LI { display: inline; margin-right: .3em}
		UL.ul LI { background: url(/a/projects/polylog/img/bullet.gif) no-repeat 0 .15em; background-position: 0 .2em; margin: 0; padding: .1em .2em .3em 13px}
	UL.inline_divided { list-style-image: none; list-style-type: none; margin: 0 0 1.33em}
	UL.inline_divided LI { border-right: 1px solid #40B2B2; display: inline; padding: 0 .6em 0 .3em; *padding: 0 .3em 0 .6em}
		UL.inline_divided LI.first { padding-left: 0}
		UL.inline_divided LI.last { border-right: 0 none}
	UL#lang { list-style-image: none; list-style-type: none; margin: 0 0 0 70px}
		UL#lang LI { color: #A4A4A7; float: left; font: bold 80%/8px Tahoma, Arial, sans-serif; text-align: center; text-transform: uppercase; margin: 0 auto; width: 30px}
			UL#lang LI A { color: #99ACD3; font-weight: normal}
			UL#lang LI A:hover { color: #DF9994}
	UL.links { display: inline}
		UL.links LI.first { border-left: 1px solid #40B2B2; margin-left: .4em; padding-left: .6em}
			LI.comment_comments { background: url(/a/projects/polylog/img/ico/comment.png) no-repeat left center; padding-left: 22px}
	UL.news_archive, .news .item_list { list-style-image: none; list-style-type: none; margin: 0 0 1.33em; padding-left: 4em}
	.news .item_list { margin: 0}
		UL.news_archive LI, .news .item_list LI { position: relative; margin-bottom: 1em}
		UL.news_archive DIV, .news .item_list LI DIV { color: #89898C; position: absolute; top: 0; *top: -0.15em; left: -4em}
	UL.sm_news { background: #E9E9EC; list-style-image: none; list-style-type: none; margin-left: 0; padding-top: .8em}
		UL.sm_news #sm_overview, UL.sm_news #sm_news, UL.sm_news #sm_press, UL.sm_news #sm_jobs, UL.sm_news #sm_contacts { background: url(/a/projects/polylog/img/bullet.gif) no-repeat 0 .15em; background-position: 0 .2em; margin: 0 15px; padding: .1em .2em .3em 13px}
			UL.sm_news #sm_contacts { padding-bottom: 1.33em}
		.officials UL { list-style-image: none; list-style-type: none; margin: 0; padding: 0}
		.officials LI { padding-left: 100px; position: relative; min-height: 116px; height: 116px}
			HTML>BODY .officials LI { height: auto}
			.officials .img { background: url(/a/projects/polylog/img/officials.jpg) no-repeat; position: absolute; top: 0; left: 0; height: 116px; width: 87px}
				#ofcl_karpilov { background-position: 0 0}
				#ofcl_fedulkina { background-position: -87px 0}
				#ofcl_doroshenko { background-position: -174px 0}
				#ofcl_kan { background-position: -261px 0}
				#ofcl_fedorchuk { background-position: 0 -116px}
				#ofcl_suchkov { background-position: -87px -116px}
				#ofcl_ivanova { background-position: -174px -116px}
				#ofcl_puzyrenko { background-position: -261px -116px}
				#ofcl_kulbyatskaya { background-position: 0 -232px}
				#ofcl_borovoy { background-position: -87px -232px}
				#ofcl_vedenskaya { background-position: -174px -232px}
				#ofcl_denisenko { background-position: -261px -232px}	

UL.tabs { background: url(/a/projects/polylog/img/greys.png) no-repeat -210px -1560px; list-style-image: none; list-style-type: none; margin: 0; padding: 5px 15px; position: relative}
	UL.tabs LI { background: url(/a/projects/polylog/img/ru/menu.png) no-repeat; display: block; cursor: pointer; cursor: hand; float: right; margin: 0 0 0 2px; height: 29px; width: 29px}
		UL.tabs #tab_popular { margin-left: 0}
		UL.tabs LI.opened_tab { cursor: default}
	UL.tabs H3 { position: absolute; top: 13px; left: 15px}
		UL.tabs LI.closed_tab H3 { display: none}
	UL.tabs #tab_popular { background-position: 0 -560px !important}
		UL.tabs #tab_popular.opened_tab, UL.tabs #tab_popular:hover { background-position: -30px -560px !important}
	UL.tabs #tab_tags { background-position: 0 -590px !important}
		UL.tabs #tab_tags.opened_tab, UL.tabs #tab_tags:hover { background-position: -30px -590px !important}
	UL.tabs #tab_archive { background-position: 0 -620px !important}
		UL.tabs #tab_archive.opened_tab, UL.tabs #tab_archive:hover { background-position: -30px -620px !important}

UL.tabbed { *background: #E9E9EC; list-style-image: none; list-style-type: none; margin-left: 0}
UL.tabbed LI { background: #E9E9EC; margin-bottom: 0}
UL.tabbed .item_list { background: none !important; *float: left; margin-bottom: 0; padding-bottom: .6em}
	.closed_tab, .opened_tab { margin: 0}
		.closed_tab UL { display: none}
		.opened_tab UL { display: block; margin: 0}
				UL.tabbed .item_list LI { background: url(/a/projects/polylog/img/bullet.gif) no-repeat 0 .2em; margin: 0; padding: .1em .2em .3em 13px}
					A.active { color: #565659 !important; cursor: default; font-weight: bold; text-decoration: none}

.subscr { background: transparent !important; margin: 0 !important; padding: 0 !important; position: relative}
	.subscr H3 { background: none !important; *width: 203px}
		.subscr H3 A, .subscr H3 SPAN { background: transparent url(/a/projects/polylog/img/reds.png) no-repeat 0 0  !important; color: #E9B6B1 !important; cursor: pointer; cursor: hand; padding: 12px 15px 7px 28px !important; *padding-top: 11px !important; width: 203px; width/**/:/**/ 160px}
	.subscr .pop_up { position: absolute; bottom: 37px; left: 0; width: 203px}
		.subscr .cap_t { background: url(/a/projects/polylog/img/alfa/subscription-t.png) no-repeat left bottom; margin: 0 auto; height: 20px; width: 203px}
		.subscr P { background: #DBDBDE; margin: 0; padding: 0 15px .4em}
		.subscr UL { background: #DBDBDE; list-style-image: none; list-style-type: none; margin: 0; padding: 0 15px .4em}
			.subscr LI { margin-bottom: .4em !important; padding-right: 24px}
				.subscr #cht_ya, .subscr #cht_lj, .subscr #cht_li, .subscr #cht_go, .subscr #cht_nv, .subscr #cht_yh, .subscr #cht_wl, .subscr #cht_itunes
				{ background: url(/a/projects/polylog/img/ico/chicklets.png) no-repeat}
				.subscr LI A { background: url(/a/projects/polylog/img/reds.png) no-repeat -634px 50%; padding-left: 13px}

			.subscr #cht_ya { background-position: -10000px 50%}
			.subscr #cht_lj { background-position: -10800px 50%}
			.subscr #cht_li { background-position: -11200px 50%}
			.subscr #cht_go { background-position: -12800px 50%}
			.subscr #cht_nv { background-position: -10400px 50%}
			.subscr #cht_yh { background-position: -11600px 50%}
			.subscr #cht_wl { background-position: -12000px 50%}
			.subscr #cht_itunes { background-position: -12400px 50%}

.share { margin: 0 0 1.33em; position: relative; width: 406px; z-index: 6}
	.share H2 { background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -30px; color: #565659; cursor: pointer; cursor: hand; font-size: 100% !important; text-transform: none; margin: 0; padding: 0 36px 0 0 !important}
		.share H2 SPAN { background: url(/a/projects/polylog/img/ico/chicklets.png) no-repeat -13360px 50%; display: block; font-weight: bold !important; padding: 7px 0 0 36px; height: 29px; height/**/:/**/ 22px}
			.en H2 SPAN { background-position: -13760px 50% !important}		
	.share .pop_up { background: #E9E9EC; border: 1px solid #DBDBDE; border-top-width: 3px; padding: 14px 0; position: absolute; bottom: 27px; left: 0; width: 406px; width/**/:/**/ 404px}
		.share P, .share H3 { padding: 0 14px}
		.share UL { list-style-image: none; list-style-type: none; margin: 0 0 1.33em}
			.share LI { float: left; background: url(/a/projects/polylog/img/ico/chicklets.png) no-repeat; margin-left: 14px; _margin-left: 7px; padding-left: 22px; width: 180px; width/**/:/**/ 158px}
				#cht_ya_zakladki { background-position: 0 50%}
				#cht_news2 { background-position: -400px 50%}
				#cht_bobrdobr { background-position: -800px 50%}
				#cht_newsland { background-position: -1200px 50%}
				#cht_smi2 { background-position: -1600px 50%}
				#cht_rumarkz { background-position: -2000px 50%}
				#cht_vaau { background-position: -2400px 50%}
				#cht_memori { background-position: -2800px 50%}
				#cht_rucity { background-position: -3200px 50%}
				#cht_moemesto { background-position: -3200px 50%}
				#cht_wong { background-position: -3600px 50%}
				#cht_txt2 { background-position: -4000px 50%}
				#cht_pisali { background-position: -4400px 50%}
				#cht_linkstore { background-position: -4800px 50%}
				#cht_google_bookmarks { background-position: -5200px 50%}
				#cht_yh_bookmarks { background-position: -5600px 50%}
				#cht_yahoo_my_web { background-position: -6000px 50%}
				#cht_windows_live { background-position: -6400px 50%}
				#cht_digg { background-position: -6800px 50%}
				#cht_stumbleupon { background-position: -7200px 50%}
				#cht_technorati { background-position: -7600px 50%}
				#cht_delicious { background-position: -8000px 50%}
				#cht_myspace { background-position: -8400px 50%}
				#cht_facebook { background-position: -8800px 50%}
				#cht_reddit { background-position: -9200px 50%}
				#cht_propeller { background-position: -9600px 50%}
				#cht_furl { background-position: -14160px 50%}
				#cht_yh_buzz { background-position: -14560px 50%}
				#cht_twitter { background-position: -14960px 50%}
				#cht_friendfeed { background-position: -15360px 50%}

/* FORMS ----------------------------------------------------------------------------------------------------------*/
FORM { margin: 0; padding: 0}
	INPUT, SELECT { vertical-align: middle}
	FIELDSET { border: 0 none; margin: 0; padding: 0 0 1.33em}
	LABEL { cursor: pointer; cursor: hand; display: block; padding-bottom: .2em}
	
	#cse-search-box { padding: 1em 15px 0}
	#q { width: 90px}

/* Editing Pages */
FIELDSET.collapsed { display: none}
DIV.node-form LEGEND { font-weight: bold}
DIV.node-form INPUT, DIV.node-form TEXTAREA { margin-bottom: .4em; width: 100%}
	DIV.node-form INPUT.form-submit, DIV.node-form INPUT.form-radio, DIV.node-form INPUT.form-checkbox { margin-bottom: 0; width: auto}
DIV.description { color: #89898C}

/* Comments */
.form-item { margin-bottom: 1em}

/* Search Results --------------------------------------------------------------------------------------------------*/
#cse-search-results IFRAME { width: 100%}

/* Tables ----------------------------------------------------------------------------------------------------------*/
TABLE { background: #F2F2F5; border: 1px solid #C9C9CC; border-collapse: collapse; empty-cells: show; font-size: 100%; text-align: left; margin: 0 auto 1.33em; width: 100%; *width: 97%}
	LI TABLE { margin-top: .4em}
	CAPTION { font-weight: bold; text-align: left; margin: 0 auto; padding-bottom: 0.6em}
	THEAD { background: #707073}
		TD, TH { border-right: 1px solid #C9C9CC; font-weight: normal; padding: 6px; vertical-align: top}
			THEAD TH { color: #F2F2F5; font: normal 85% Tahoma, Geneva, Arial, sans-serif}
				THEAD TH STRONG { color: #F2F2F5}
			TFOOT TD { border: 0 none; border-top: 1px solid #C9C9CC}
		.odd { background: #E6E6E9}
		.border_b { border-bottom: 1px solid #C9C9CC}
		
.num TBODY TD, .num THEAD TH { text-align: right}		

/* Footer ----------------------------------------------------------------------------------------------------------*/
#footer { background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -1601px; text-align: left; margin: 0 auto; padding-bottom: 4em; position: relative; max-width: 957px; min-width: 754px; width: 99%}
	#footer A { color: #565659; text-decoration: none}
	#footer A:hover, #footer .create A:hover { color: #CC4033; text-decoration: underline}

#footer .brief { background: url(/a/projects/polylog/img/greys.png) no-repeat -960px -1601px; float: left; list-style-image: none; list-style-type: none; margin: 0; padding: 5.8em 0 0 29px; *padding-top: 5.6em; width: 232px; width/**/:/**/ 203px}
	#footer .brief LI { margin-bottom: 1.5em}
	#footer .copy { background: url(/a/projects/polylog/img/reds.png) -210px -37px no-repeat; line-height: normal; padding-left: 2.4em}
		#footer .copy A { font-weight: bold}
		#footer .copy SPAN { padding-left: .6em}
	#footer .rss { background: url(/a/projects/polylog/img/ico/rss.gif) no-repeat 10px .7em; padding: .6em 0 0 2.9em}
		#footer .rss A, #footer .create A { color: #4066B2; text-decoration: underline}
	#footer .create { background: url(/a/projects/polylog/img/greys.png) -2394px -256px no-repeat; padding: .6em 0 0 2.9em}

#footer .sitemap { list-style-image: none; list-style-type: none; margin-left: 261px; padding: 5.8em 0 0 6.4em; *padding: 5.6em 0 0 6.1em}
	#footer .sitemap LI { position: relative}
		#footer .sitemap LI A, #footer .sitemap LI SPAN { font-weight: bold; white-space: nowrap; position: absolute; left: -6.7em; *top: -.15em}
			#footer .sitemap UL { *display: inline; margin: 0; padding: 0}
				#footer .sitemap LI LI { border-right: 1px solid #40B2B2; display: inline; padding: 0 .6em 0 .3em; *padding: 0 .3em 0 .6em}
					#footer .sitemap LI LI A { font-weight: normal; position: static}
					#footer .sitemap LI LI.last { border-right: 0 none}

/* Spry ------------------------------------------------------------------------------------------------------------*/
.acd { overflow: hidden; margin-bottom: 1.22em; position: relative; height: 27.9em}
	.acd DIV.group { background: #E9E9EC; overflow: hidden; height: 22em}
		.acd .cap_b { background: transparent url(/a/projects/polylog/img/alfa/sidebar-acd.png) no-repeat; position: absolute; bottom: -3px; *bottom: -1px; left: 0; height: 15px; width: 203px}
		.acd H3 { margin-bottom: 1px}
			.acd H3 A { background: url(/a/projects/polylog/img/greys.png) no-repeat -2232px -626px  !important; padding: 1em 15px .45em !important; *padding: .9em 15px .45em !important}
				.acd H3.first A { background: url(/a/projects/polylog/img/greys.png) no-repeat -420px -1590px  !important}
		.acd .item_list { background: transparent none !important; margin: 0; padding: 0}
			.acd .item_list LI { margin: 0; padding: .5em 15px 0}
		.acd_focused .pnl_open H3 { background: #4266B1}
		
P.subscr { background: url(/a/projects/polylog/img/ico/rss.gif) no-repeat 15px 50%  !important; margin-top: .5em !important; padding: 0 15px 0 40px !important; position: static}

/* Customization ---------------------------------------------------------------------------------------------------*/
/* Header */
/*#front #header .pic { top: -6px; height: 238px; width: 291px; right: 0}*/
#front #header .pic { color: #FFF; font: 85% Tahoma, Geneva, Arial, sans-serif; padding: 41px 148px 0 30px; top: -15px; right: 0; height: 247px; height/**/:/**/ 206px; width: 291px; width/**/:/**/ 113px} #front #header .pic#anna_p { background-image: url(/a/projects/polylog/img/header/anna-p.png)} *HTML #front #header .pic#anna_p { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/anna-p.png'), sizingMethod='scale')} #front #header .pic#natasha { background-image: url(/a/projects/polylog/img/header/natasha.png)} *HTML #front #header .pic#natasha { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/natasha.png'), sizingMethod='scale')} #front #header .pic#max { background-image: url(/a/projects/polylog/img/header/max.png)} *HTML #front #header .pic#max { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/max.png'), sizingMethod='scale')} #front #header .pic#sergey { background-image: url(/a/projects/polylog/img/header/sergey.png)} *HTML #front #header .pic#sergey { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/sergey.png'), sizingMethod='scale')} #front #header .pic STRONG { color: #FFF} #front #header .pic SPAN { display: block; margin-left: -.8em; *margin-left: -.5em}
#front #header { background: transparent none; display: block; margin-bottom: 15px; height: auto; position: relative}

/* Down States */
#front .btn#btn_home, .services .btn#btn_services, .company .btn#btn_company, .press .btn#btn_company, .news .btn#btn_company, .jobs .btn#btn_company, .clients .btn#btn_clients, .community .btn#btn_community, .blog .btn#btn_community, .help .btn#btn_community, .reply .btn#btn_community
{ background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -1470px}
	#front .btn#btn_home A, .services .btn#btn_services A, .company .btn#btn_company A, .press .btn#btn_company A, .news .btn#btn_company A, .jobs .btn#btn_company A, .clients .btn#btn_clients A, .community .btn#btn_community A, .blog .btn#btn_community A, .help .btn#btn_community A, .reply .btn#btn_community A
	{ background: url(/a/projects/polylog/img/greys.png) no-repeat -2400px -1430px}

#front .btn#btn_home A, #front .btn#btn_home SPAN { cursor: default}

/* Sidebar */
#front #sidebar { padding-bottom: 0}

.services .pull_quote, .tag .pull_quote { background-image: url(/a/projects/polylog/img/ico/services.png)}
.clients .pull_quote { background-image: url(/a/projects/polylog/img/ico/clients.gif)}
.company .pull_quote, .news .pull_quote, .press .pull_quote, .jobs .pull_quote { background-image: url(/a/projects/polylog/img/ico/company.gif)}
.community .pull_quote, .blog .pull_quote, .help .pull_quote, .reply .pull_quote { background-image: url(/a/projects/polylog/img/ico/community.gif)}

#case_studies #sm_case_studies, #clients_list #sm_clients_list, #integrated_services #sm_integrated_services, #gr #sm_gr, #company_media #sm_company_media, #events #sm_events, #marketing #sm_marketing, #researches #sm_researches, #training #sm_training, #overview #sm_overview, #jobs #sm_jobs, .jobs #sm_jobs, #contacts #sm_contacts, .press #sm_press, .news #sm_news, .blog #sm_blog, #international #sm_international, .community #sm_help, .help #sm_help, #smm #sm_smm, #responsibility #sm_responsibility, #strategies #sm_strategies
{ background: #DBDBDE none !important}
	#community #sm_help { background: transparent url(/a/projects/polylog/img/bullet.gif) no-repeat 0 .15em  !important}
	#case_studies #sm_case_studies A, #clients_list #sm_clients_list A, #integrated_services #sm_integrated_services A, #gr #sm_gr A, #company_media #sm_company_media A, #events #sm_events A, #marketing #sm_marketing A, #researches #sm_researches A, #training #sm_training A, #overview #sm_overview A, #jobs #sm_jobs A, #contacts #sm_contacts A, #press #sm_press A, #news #sm_news A, #blog #sm_blog A, #international #sm_international A, #help #sm_help A, #smm #sm_smm A, #responsibility #sm_responsibility A, #strategies #sm_strategies A
	{ color: #565659; cursor: default; text-decoration: none}
#blog #a_blog	{ cursor: default; text-decoration: none}

/* Front */
#front #sidebar H1 A { cursor: default}
#front #sidebar H3 A { background: url(/a/projects/polylog/img/greys.png) no-repeat -420px -1590px}
#front #header A { color: #F2F2F5; font: 85% Tahoma, Geneva, Arial, sans-serif; text-decoration: none}
	#front #header A SPAN { display: block; position: absolute; top: 161px; left: 70px; /*left: 66px*/}

/* Inner */
#company_media #main IMG, .bordered { border: 4px solid #E5E5E8}

#news #a_news_08 A, .arj_08 #a_news_08 A, .arj_07 #a_news_07 A, .arj_06 #a_news_06 A, .arj_05 #a_news_05 A, .arj_04 #a_news_04 A
{ background: #DBDBDE none; color: #565659; padding: .2em .4em}
#news #a_news_08 A, #news_07 #a_news_07 A, #news_06 #a_news_06 A, #news_05 #a_news_05 A, #news_04 #a_news_04 A
{ cursor: default; text-decoration: none}

.fixed #container { padding: 11px 29px 0; width: 493px; min-width: 435px; width/**/:/**/ 435px}
.fixed .cap, .fixed #footer { min-width: 493px; width: 493px}
	.fixed #footer DIV { height: 20px}
.fixed H1 { border-bottom: 1px solid #89898C; color: #565659; font: 85% Tahoma, Geneva, Arial, sans-serif; margin: 0 0 1.33em; padding: 0 0 29px 104px; position: relative; height: 116px; height/**/:/**/ 87px}
.fixed H1 A { background: url(/a/projects/polylog/img/reds.png) 0 -60px no-repeat; display: block; text-indent: -4600em; position: absolute; top: 0; left: 0; height: 87px; width: 87px}
.fixed H1 SPAN { display: block}

/* Item List */
#front .item_list LI A, .news #main .item_list LI A, #jobs #main .item_list LI A, #company #main .item_list LI A { color: #565659; cursor: default; text-decoration: none}
	#front .item_list LI A EM, #front #blog_teasers .item_list LI A, .news #main .item_list LI A EM, #jobs #main .item_list LI A EM, #company #main .item_list LI A EM { color: #4066B2; cursor: pointer; cursor: hand; font-style: normal; text-decoration: underline}
	#front #news_teasers .item_list LI A:visited EM, #front #blog_teasers .item_list LI A:visited, .news #main .item_list LI A:visited EM, #jobs #main .item_list LI A:visited EM, #company #main .item_list LI A:visited EM { color: #B24080}
	#front #news_teasers .item_list LI A:hover EM, #front #blog_teasers .item_list LI A:hover, .news #main .item_list LI A:hover EM, #jobs #main .item_list LI A:hover EM, #company #main .item_list LI A:hover EM { color: #CC4033}	

#community #main .item_list, #jobs .item_list { list-style: url(/a/projects/polylog/img/bullet.gif) outside; margin: 0 0 1.33em 16px; padding: 0}
	#jobs .item_list STRONG { display: none}
	
#company .item_list { padding-left: 0}

/* Blog */
.node_body { margin-right: 11em}

.blog H2 { font-size: 125%; text-transform: none; margin: 0; padding: 1.75em 0 .25em}
	.blog #main DIV H2, .community #main DIV H2 { clear: left}
		.community #main DIV.cfx H2 { clear: none}
	.blog H2 SPAN { color: #89898C; font-weight: normal; white-space: nowrap}

.blog_usernames_blog, .comment_add, .comment_new_comments, .node_read_more { display: none !important} /*TASK: Убить их на фиг, переписав функции из commnet.module*/
.first.blog_usernames_blog { border-left: 0 none !important}

.bl_og { font: 85% Tahoma, Geneva, Arial, sans-serif; margin: .4em 0}
		.bl_og A, .bl_og A:visited { color: #89898C}
		.bl_og A:hover { color: #CC4033}
			.bl_og A.active, .h_comment { font-weight: normal}
	H2.bl_og { font-family: Arial, Geneva, Helvetica, sans-serif; font-weight: bold; margin: 3em 0 .4em}

.blog #main IMG { display: block; margin: 1.33em 0}
	.blog #main DIV IMG { margin: 5px 20px 0 0}
.blog #main OBJECT { display: table; margin: 1.33em 0}

.form_required { color: #CC4033; font-weight: bold}

.pager { clear: left; padding-top: 2em}
	.pager A, .pager .caption, .pager-current, .pager-ellipsis { display: block; float: left; line-height: 15px; margin-right: .4em; padding: 0 .2em; height: 15px}
		.pager .caption, .pager-ellipsis { margin-right: .2em}
		.pager A.active { color: #4066B2 !important; cursor: pointer; cursor: hand; font-weight: normal; text-decoration: underline}
			.pager A.active:visited { color: #B24080 !important}
			.pager A.active:hover { color: #CC4033 !important}
				A.pager-last, A.pager-next	{ background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -170px  !important; text-indent: -4600em; padding: 0; height: 15px; width: 15px}
				A.pager-first, A.pager-previous	{ background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -980px  !important; text-indent: -4600em; padding: 0; height: 15px; width: 15px}
					.pager-list A.pager-last, .pager-list A.pager-next, .pager-list A.pager-first, .pager-list A.pager-previous	{ background: none !important; text-indent: 0; padding: 0 .2em; height: auto; width: auto}
DIV.odd { padding: 14px 15px 15px}
DIV.even { border: 1px solid #E6E6E9; border-top: 0 none; padding: 15px 14px}
	.byline .links { list-style-image: none; list-style-type: none; margin-left: 0}
		.byline .links LI { float: left; background: no-repeat left center; padding-left: 24px !important; margin-left: 16px !important; height: 20px}
			.byline .links .first { border-left: 0 none}
			.byline .links LI.comment_delete { background-image: url(/a/projects/polylog/img/ico/delete.gif)}
			.byline .links LI.comment_reply { background-image: url(/a/projects/polylog/img/ico/reply.png)}
			.byline .links LI.spam-spam { background-image: url(/a/projects/polylog/img/ico/spam.gif)}
			.byline .links A { white-space: nowrap}

#comment-form { margin-top: 2em}
	#comment-form .textarea { float: left; margin-right: 180px; padding: 0; width: 340px}		
			#comment-form .textarea TEXTAREA { height: 25.5em; width: 99%}
	#comment-form FIELDSET.signature { float: left; margin-left: -160px; padding: 1.65em 0 0; width: 140px}
		#comment-form FIELDSET.signature INPUT { *float: left; width: 95%}
			.captcha IMG { margin: 0 0 .6em !important}
				
#cse-search-results { width: 100%}

/*DIV.error { background: #E9E9EC url(/a/projects/polylog/img/ico/alert.gif) 14px 50% no-repeat; padding: 14px 0 15px 45px}
	DIV.error UL { margin-bottom: 0}
TEXTAREA.error, INPUT.error { border: 2px solid #CC4033}*/

/* Modal Box -------------------------------------------------------------------------------------------------------*/
#modal_box { display: none; color: #565659; font: x-small/140% Arial, Geneva, Helvetica, sans-serif; font-size/**/:/**/ small; position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 64}
	#modal_box DIV.caption { text-align: left; margin: 58px auto 0; position: relative; height: 37px; width: 609px}
		#modal_box .caption H2 { background: url(/a/projects/polylog/img/alfa/modal-box-caption.png) left top no-repeat; color: #FFF; text-align: left; text-transform: none; padding: 11px 10px 0 29px; margin: 0; height: 37px; height/**/:/**/ 26px; width: 599px; width/**/:/**/ 560px}
		#modal_box A.btn_close, #modal_box BUTTON.close { background: url(/a/projects/polylog/img/greys.png) no-repeat -210px -1500px; border: 0 none; cursor: pointer; cursor: hand; display: block; text-indent: -4600em; position: absolute; top: 11px; right: 29px; height: 15px; width: 15px; z-index: 2}
		#modal_box DIV.caption DIV { background: url(/a/projects/polylog/img/alfa/modal-box-caption-r.png) no-repeat; position: absolute; top: 0; right: 0; height: 37px; width: 10px}
	#modal_box .body, #modal_box #synopsis { background: #F2F2F5; text-align: left; margin: 0 auto; padding: 1em 29px; overflow: auto; max-height: 70%; width: 609px; width/**/:/**/ 551px}
		#modal_box .body H1 { color: #727274; font: normal 165%/100% "Arial Narrow", Arial, Helvetica, sans-serif; text-transform: none;  margin: .14em 0 .6em}
			#modal_box .body H1 { color: #727274; font: normal 165%/100% "Arial Narrow", Arial, Helvetica, sans-serif; text-transform: none;  margin: .14em 0 .6em}
			.vignette, #modal_box #synopsis IMG { border: 0 none !important}
	#modal_box .cap_bottom { background: url(/a/projects/polylog/img/alfa/modal-box-cap-b.png) no-repeat left bottom; margin: 0 auto; height: 30px; width: 609px}

#overlay { background: #000; display: none; -moz-opacity: 0.6; opacity: .60; filter: alpha(opacity=60); position: fixed; top: 0; left:0; height: 100%; width: 100%; z-index: 46}

/* IE 6- ----------------------------------------------------------------------------------------------------------*/
/* Global */
*HTML BODY { behavior: url(/a/projects/polylog/js/csshover.htc)}
*HTML #container, *HTML .cap, *HTML #footer { height: expression(minY=(this.scrollHeight < parseInt(this.currentStyle.minHeight)+1)? this.currentStyle.minHeight : maxY=(this.scrollHeight > parseInt(this.currentStyle.maxHeight)+1)? this.currentStyle.maxHeight : "auto"); width: expression(minX=(document.body.clientWidth < parseInt(this.currentStyle.minWidth)+1)? this.currentStyle.minWidth : maxX=(document.body.clientWidth > parseInt(this.currentStyle.maxWidth)+1)? this.currentStyle.maxWidth : "auto")}
	*HTML #container, *HTML .cap, *HTML #footer { maxWidth: 957px; minWidth: 754px}

*HTML .col1_2, *HTML .col2_2 { width: 44.1%}

*HTML #header_wrapper { position: static}
	*HTML #header { position: relative}

*HTML #header .pic { right: -2px; bottom: 0}

/* Spry */
*HTML .acd .cap_b { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/alfa/sidebar-acd.png'), sizingMethod='scale')}
*HTML .acd H3 { background: #AFAFB2; float: left; width: 203px}

/* Lists */
*HTML DL.col1_2 DT IMG, DL.col2_2 DT IMG { left: -78px}
	*HTML .box UL.case_studies { margin: .7em 0 0 15px}
	*HTML .box UL.case_studies LI { margin: 0 8px 9px 0}

/* Customization */
*HTML #front  #header .pic { margin-right: 263px}
*HTML .services #header .pic, *HTML .tag #header .pic { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/paparazzi.png'), sizingMethod='scale')}
*HTML .clients #header .pic { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/cheers.png'), sizingMethod='scale')}
*HTML .company #header .pic, *HTML .news #header .pic, *HTML .press #header .pic, *HTML .jobs #header .pic { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/natasha-max.png'), sizingMethod='scale')}
*HTML .community #header .pic, *HTML .blog #header .pic, *HTML .reply #header .pic { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/header/paparazzi.png'), sizingMethod='scale')}

/* Blog */
*HTML UL.tabs { height: 37px}
	*HTML UL.tabs H3 A, *HTML UL.tabs H3 SPAN { float: left}
		*HTML UL.tabs H3.opened_tab { width: 1em}

*HTML UL.tabs { padding: 5px 15px; padding/**/:/**/ 0 15px 2px}
	*HTML UL.tabs LI { margin-top/**/:/**/ 5px}
*HTML UL.tabbed .item_list LI { padding-left: 0; padding-left/**/:/**/ 13px}

*HTML .subscr { float: left}
	*HTML P.subscr { float: none}
	*HTML .subscr H3 { background: none !important}
	*HTML .subscr .pop_up { bottom: 36px}
		*HTML .subscr .cap_t { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/alfa/subscription-t.png'), sizingMethod='scale')}
		*HTML .subscr UL { padding-left: 0; padding-left/**/:/**/ 15px; float: left; width: 203px; width/**/:/**/ 173px}
		*HTML .subscr UL LI { background: #CCF}
		*HTML .subscr P { clear: left}

*HTML #blog_roll { margin-top: 1.33em}

/* Modal box */
*HTML #modal_box { position: absolute; top: expression( ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) + 'px' ); height: expression(minY=(this.scrollHeight < parseInt(this.currentStyle.minHeight)+1)? this.currentStyle.minHeight : maxY=(this.scrollHeight > parseInt(this.currentStyle.maxHeight)+1)? this.currentStyle.maxHeight : "auto"); maxHeight: 80%; height: auto}
*HTML #overlay { position: absolute; top: expression((ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop) + 'px')}

*HTML #modal_box .caption H2 { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/alfa/modal-box-caption.png'), sizingMethod='scale')}
*HTML #modal_box DIV.caption DIV { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/alfa/modal-box-caption-r.png'), sizingMethod='scale'); right: -1px}
*HTML #modal_box .cap_bottom { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/a/projects/polylog/img/alfa/modal-box-cap-b.png'), sizingMethod='scale')}
*HTML #modal_box .body { height: 70%}
*HTML #modal_box #synopsis, *HTML #modal_box #fr_comments { height: 420px}

/* Video Tutorial ---------------------------------------------------------------------------------------------*/
#extra_footer { position: fixed; bottom: 0; left: 0; height: 29px; width: 100%; z-index: 20}
	#extra_footer DIV { background: #000; color: #F2F2F5; font: 85%/29px Tahoma, Geneva, Arial, sans-serif; margin: 0 auto; -moz-opacity: 0.78; opacity: .78; filter: alpha(opacity=78); height: 29px; max-width: 957px; min-width: 754px; width: 99%; z-index: 20}
		#extra_footer DIV A { background: url(/a/projects/polylog/img/greys.png) no-repeat -2405px -1270px; color: #F2F2F5 !important; padding: 0 0 3px 23px}

*HTML #container, *HTML .cap, *HTML #footer, *HTML #extra_footer DIV { height: expression(minY=(this.scrollHeight < parseInt(this.currentStyle.minHeight)+1)? this.currentStyle.minHeight : maxY=(this.scrollHeight > parseInt(this.currentStyle.maxHeight)+1)? this.currentStyle.maxHeight : "auto"); width: expression(minX=(document.body.clientWidth < parseInt(this.currentStyle.minWidth)+1)? this.currentStyle.minWidth : maxX=(document.body.clientWidth > parseInt(this.currentStyle.maxWidth)+1)? this.currentStyle.maxWidth : "auto")}
	*HTML #container, *HTML .cap, *HTML #footer, *HTML #extra_footer DIV { maxWidth: 957px; minWidth: 754px}

*HTML #extra_footer { position: absolute; top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight))}

#modal_box .caption H2 { font-size: 13px}
#modal_box UL.tabs { background: none; padding: 0; position: absolute; top: 4px; left: 11.4em; *left: 11em}
	#modal_box UL.tabs LI { background: none; display: block; cursor: pointer; cursor: hand; float: left; margin: 0 0 0 1px; padding-right: 14px; width: auto}
		#modal_box UL.tabs LI.on { background: url(/a/projects/polylog/img/greys.png) no-repeat 100% -570px}
		#modal_box UL.tabs H3 { color: #FFF; font-weight: normal; line-height: 29px; text-decoration: underline; padding-left: 13px; position: static}
			#modal_box UL.tabs LI.on H3 { background: url(/a/projects/polylog/img/greys.png) no-repeat -2400px -530px; text-decoration: none}

#modal_box IFRAME { margin: 0 auto; width: 609px}

DIV.on, IFRAME.on { display: block}
DIV.off, IFRAME.off { display: none}