#header H1 { background:   url("/a/_projects/best-media/img/ru/logo.gif")}

#btn_services { background:   url("/a/_projects/best-media/img/ru/btn-services.gif"); width: 63px}
#btn_clients { background:   url("/a/_projects/best-media/img/ru/btn-clients.gif"); width: 73px}
#btn_company { background:   url("/a/_projects/best-media/img/ru/btn-company.gif"); width: 80px}

#btn_ru { background-position: 0 -30px !important; cursor: default !important}