/* Hide */
#header, #footer, .arrow-back, .arrow-forward { display: none}

A:link, A:visited { font-weight: bold; text-decoration: underline; color: #999}
BODY { background: white none; font-size: 10pt; color: black !important}
H1 { font-size: 18pt; color: #666666}
H2 { font-size: 14pt; color: #333}
H3 { font-size: 12pt; color: #666666}
H4 { font-weight: normal; font-size: 11pt; color: #999; margin-bottom: 0pt}
P { margin-top: 0pt}

/* Layout - Blocks */
.column1-2, .column2-2 { width: 47%}
.column1-3, .column2-3, .column3-3 { width: 30%}
.container, .wrapper-columns { width: 100%}
.wrapper { background: transparent none; padding: 5%}

/* Tables */
.bg_content { background: #FFF}
.bg_odd { background: #F2F2F2 !important}
.bg_tfoot { background: #EBEBEB}
.bg_trow { background: #E5E5E5 !important}
.cell_border_b { border-bottom: 0.5pt solid #999 !important}
.cell_border_r_none { border-right: 0 !important}
.cell_border_t { border-top: 0.5pt solid #999 !important}
.table { margin: 0 0 1em}
.table TD, .table TH { padding: 3pt}
.table_border { border: 0.5pt solid #999 !important; border-collapse: collapse; margin: 0 0 1em}
.table_border TD, .table_border TH { padding: 3pt; border-right: 0.5pt solid #999 !important}

/* Lists */
OL { list-style-type: decimal !important}
OL LI, LI.li01, LI.li02, LI.li03, LI.li04, LI.li05, LI.li06, LI.li07, LI.li08, LI.li09, LI.li10 { background: none}
UL { list-style-type: circle !important; margin-left: auto !important}
UL.nested { list-style: square !important}