A { color: #C30}
A:visited { color: #339}
A:hover { color: #66C}
BODY { background: #339 url(/a/_projects/anna-casino/img/bg.gif) repeat-x; font-family: Arial, Geneva, Helvetica, sans-serif; font-size: x-small; font-size/**/:/**/ small; text-align: center; margin: 0 0 40px; padding: 0}
BODY, HTML { height: 100%}
CODE { font-family: Courier, monospace}
DFN, EM { color: #C30; font-style: normal}
H1 { font-size: 130%}
H2 { color: #C30; font-size: 110%}
H2.kicker, H3, .like-h3 { color: #339; font-size: x-small; font-size/**/:/**/ small; margin: 1em 0 0; padding: 0}
H2.kicker A:visited { color: #00F}
H2.kicker A:hover { color: #F00}
HR { border: none 0; border-top: 1px solid #66C; margin-bottom: 1em; height: 1px}
IMG { border: 0}
IMG.left, INPUT.left { margin: 2px 10px 5px 0}
IMG.right, OBJECT.right { margin: 2px 0 5px 10px}
P { margin: 0 0 1em}

/* Header */
#header { background:   url(/a/_projects/anna-casino/img/bg_header.jpg) no-repeat 50% 64px; text-align: left; margin: 0 auto; position: relative; height: 240px; width: 760px}

.meta { height: 60px}
.header { background:   url(/a/_projects/anna-casino/img/bg_header_border.gif) no-repeat center top; padding: 27px 0 0 30px; height: 140px; height/**/:/**/ 113px}

#form-lang { float: left; margin-right: 20px; padding: 20px 0 0 30px; width: 50px}
.meta>#form-lang { min-width: 50px; width: auto}
#form-lang SPAN { background:   url(/a/_projects/anna-casino/img/dtl_flags.gif) no-repeat left center; padding-left: 30px}
#header-bonus { margin: 12px 20px 0 0}
#header-phone { margin-top: 21px}
#girl { position: absolute; right: 8px; bottom: 40px}
#nameplate { margin: 0 !important; padding: 0; width: 163px}

/* Menu */
#nav { list-style: none; margin: 0; padding: 5px 0 0}
#nav LI { float: left; margin: 0 0 0 5px; padding: 0; position: relative; width: 148px}
#nav LI.first { margin-left: 0}

#a-home, #a-account, #a-4money, #a-promo, #a-help, #a-about { background: no-repeat 0 0; display: block; text-decoration: none; text-indent: -6400px; height: 30px}
#a-home:hover, #a-account:hover, #a-4money:hover, #a-promo:hover, #a-help:hover, #a-about:hover { background-position: 0 -30px}

/* Menu - Dropdowns */
.dropdown { display: none; font: 11px Tahoma, Geneva, Arial, sans-serif; list-style: none; margin: 0; padding: 0; position: absolute; top: 30px; left: -5px}
LI>.dropdown { top: auto; left: 0}
.dropdown LI { width: 140px}
.dropdown A { background: #BFBFFF; border-right: 1px solid #99F; border-left: 1px solid #99F; color: #339; display: block; font-weight: bold; text-decoration: none; text-indent: 0; padding: 5px; width: 140px; width/**/:/**/ 128px}
.dropdown A:hover { background: #B2B2FF; color: #339}
.dropdown LI.li-bottom A { border-bottom: 3px solid #99F}
LI:hover .dropdown, LI.pc-hover .dropdown { display: block}

/* Menu - Opened submenu */
#thistory .subnav, #whistory .subnav, #withdraw .subnav { background: none; display: block; top: 26px; margin: 0; width: 760px}
#thistory .subnav LI, #whistory .subnav LI, #withdraw .subnav LI { width: auto}
#thistory .subnav A, #whistory .subnav A, #withdraw .subnav A { background: none !important; border: 0 none !important; color: #E5CCCC !important; line-height: 26px; padding: 2px 10px 0}

/* Layout - wrappers */
.wrapper { background:   url(/a/_projects/anna-casino/img/bg_wrapper.gif) no-repeat center top}
.container { background: #CCF url(/a/_projects/anna-casino/img/bg_container.gif) repeat-y center bottom; color: #339; text-align: left; margin: 0 auto; padding: 20px 30px 40px; width: 760px; width/**/:/**/ 700px}

/* Layout - Columns */
.column1-1 { padding-right: 110px}  /* width must amount 620px */
.column1-2, .column2-2 { width: 340px}
.column1-2 { float: left}
.column2-2 { float: right}
.column1-3, .column2-3, .column3-3 { float: left; width: 220px}
.column1-3, .column2-3 { margin-right: 20px}
.content { width: 520px}
.sidebar { width: 160px}

/* Layout - Clearers */
.cfx:after, .help-common:after, .reports-select-t:after, .tr:after, DIV.bg_tfoot:after { content: "."; display: block; height: 0; clear: both; visibility: hidden}
.cfx, .help-common, .reports-select-t, .tr, DIV.bg_tfoot { display: inline-table}
/* Hides from IE-mac \*/
* html .cfx, * html .help-common, * html .reports-select-t, * html .tr, * html DIV.bg_tfoot { height: 1%}
.cfx, .help-common, .reports-select-t, .tr, DIV.bg_tfoot { display: block}
/* End hide from IE-mac */

/* Noscript / Noflash */
.noflash-nojs { background: #FC0; color: #000; font: 85% Tahoma, Geneva, Arial, sans-serif; padding: 1em 0}
.noflash-nojs A, .noflash-nojs A:visited { color: #00F}
.noflash-nojs A:hover { color: #F00}
.noflash-nojs H1 { font-size: 100%; margin: 0 0 0.5em; padding: 0}
.noflash-nojs DIV { background:   url(/a/_projects/anna-casino/img/dtl_alert_big.gif) no-repeat left top; text-align: left; margin: 0 auto; padding-left: 50px; min-height: 30px; width: 760px; width/**/:/**/ 710px}

/* Front */
#front H1 { font-size: 110%; margin-bottom: 0.5em}
#front H2 { font-size: 100%}
.box { background:   url(/a/_projects/anna-casino/img/bg_sidebar.gif) no-repeat center bottom; height: 240px}
.cfx>.box { min-height: 240px; height: auto}
.box H2, .box P { padding-right: 20px; padding-left: 20px}
.box-t { background:   url(/a/_projects/anna-casino/img/bg_sidebar_t.gif) no-repeat center top; padding-top: 20px}
.games-uls { float: left; width: 520px}
.games-uls A, .games-uls A:visited { color: #C30; text-decoration: none}
.games-uls A:hover { color: #66C; text-decoration: underline}
.games-uls H2 { margin-top: 0}
.games-uls H3 { color: #339; display: inline; margin: 0; padding-right: 0.3em}
.games-uls LI { border-left: 1px solid #66C; display: inline; line-height: 140%; list-style: none; margin-left: -7px; padding: 0 8px 0 7px}
HTML + HTML .games-uls LI { border-left: none}
.games-uls LI.first { border-left: none}
.games-uls UL { display: inline; margin: 0; padding: 0}
.ul-cards { background:   url(/a/_projects/anna-casino/img/ico_card.gif) no-repeat left center; margin-bottom: 1em; padding-left: 80px}
.ul-slots { background:   url(/a/_projects/anna-casino/img/ico_slot.gif) no-repeat left center; margin-bottom: 1em; padding-left: 80px; min-height: 55px; height: 55px}
	.games-uls>.ul-slots { height: auto}
.ul-wheels { background:   url(/a/_projects/anna-casino/img/ico_roulette.gif) no-repeat left center; padding-left: 80px; height: 55px}
.games-uls>.ul-wheels { min-height: 55px; height: auto}

/* Tooltips */
.tooltip { background: #FFFFE1; border: 1px solid #66C; border-bottom-width: 2px; display: none; padding: 20px; position: absolute; top: 20px; left: -80px; width: 360px; width/**/:/**/ 320px; z-index: 0}
TT { font: 100% Arial, Geneva, Helvetica, sans-serif; position: relative}
TT:hover .tooltip, TT.pc-hover .tooltip { display: block}

/* Body Copy */
#boxout-right-half-page { float: right; margin: 0 0 10px 10px; width: 280px}
#bonus-record01 { display: none}
TR>#bonus-record02, TR>#bonus-record03 { display: none}
#news H2 { margin-bottom: 0}
#news P.txt-small { margin-top: 0}
.arrow-back A, .arrow-forward A { background: #FFF}
.boxout-right { background: #BFBFFF; float: right; margin: 0 0 1em 10px; padding: 20px; width: 240px; width/**/:/**/ 200px}
.certificate { float: right; margin: 2px 0 5px 10px; width: 80px}
.help-common { padding-bottom: 10px}
.help-common DIV { float: left; text-align: right; padding-right: 10px; width: 150px}
.help-common P { float: left; width: 460px}
.hidden-link A, .hidden-link A:visited { color: #339; text-decoration: none}
.hidden-link A:hover { color: #339; text-decoration: underline}
.hidden-link H2 A, .hidden-link H2 A:visited { color: #339; text-decoration: none}
.hidden-link H2 A:hover { color: #339; text-decoration: underline}
.lead { color: #060; line-height: 1.5em}

.left { float: left}
.right { float: right}

.margin-b0 { margin-bottom: 0 !important}
.margin-b1em { margin-bottom: 1em !important}
.margin-t0 { margin-top: 0}
.margin-t1em-b0 { margin-top: 1em; margin-bottom: 0}
.nowrap { white-space: nowrap}
.padding-t0d5em { padding-top: 0.5em}
.txt-decoration0 { text-decoration: none}
A.txt-decoration0:visited  { color: #00F}
A.txt-decoration0:hover  { color: #F00}
.txt-em { color: #C30 !important}
.txt-left { text-align: left !important}
.txt-normal-weight { font-weight: normal}
.txt-right, .txt-right TD, .txt-right TH { text-align: right}
.txt-small { font: 85% Tahoma, Geneva, Arial, sans-serif}
TD.txt-small { font: 70% Tahoma, Geneva, Arial, sans-serif; font-size/**/:/**/ 85%}
.txt-small-fixed { font: 11px Tahoma, Geneva, Arial, sans-serif}
.txt-soft { color: #7373D9}
P.txt-small { margin-top: 1em}

/* Tables */
.bg_content { background: #FFF}
.bg_odd { background: #BFBFFF}
.bg_tfoot { background: #B8B8FF}
.bg_trow { background: #B2B2FF}
.cell_border_b { border-bottom: 1px solid #66C}
.cell_border_r_none { border-right: 0 !important}
.cell_border_t { border-top: 1px solid #66C}
.table { margin: 0 0 1em}
.table TD, .table TH { padding: 6px}
.table_border { border: 1px solid #66C; border-collapse: collapse; margin: 0 0 1em}
.table_border TD, .table_border TH { padding: 6px; border-right: 1px solid #66C}
CAPTION { font-weight: bold; padding-bottom: 0.5em}
CAPTION, TD, TH { font-size: x-small; font-size/**/:/**/ small; text-align: left}
TABLE { border: 0; width: 100%}

/* Lists */
.list-break { padding-bottom: 1em}
.list-caption { margin-bottom: 0}
.list-inline { margin: 0; padding: 0}
.list-inline LI { border-left: 1px solid #339; display: inline; line-height: 160%; list-style: none; margin-left: -7px; padding: 0 8px 0 7px}
HTML + HTML .list-inline LI { border-left: none}
.list-inline LI.developer { background:   url(/a/_projects/anna-casino/img/bg_3wg.gif) no-repeat 5px 55%; margin-left: 0; padding-left: 1.6em; color: #FF9}
.list-inline LI.first { border-left: none}
.list-trs LI { padding: 7px}
.list-unmarked { list-style: none none; margin-left: 0}
DD { margin: 0 0 1em}
DD OL, DT { margin: 1em 0}
DT IMG { float: right; margin: 2px 0 5px 10px}
LI UL { margin: 0 0 0 16px}
OL { list-style-type: none; margin: 0 0 1em 0; padding: 0}
OL LI {	background: transparent 0 5px no-repeat; padding-left: 23px}
UL { list-style: url(/a/_projects/anna-casino/img/dtl_bullet.gif) outside; margin: 0 0 1em 16px; padding: 0}
UL LI { padding: 0}

/* Forms */
.alert-input { background: #F66; color: #FFF}
.form-box { margin-bottom: 1em}
.form-box #thead { background: #F00} /* Optional extra design. It needs to create similiar styles for next line - .form-box .bg_tfoot, .form-box .bg_trow */
.form-box .bg_tfoot, .form-box .bg_trow { padding: 7px}
.form-box .padding-b0d2 { padding-bottom: 0.2em}
.form-box .padding-t0 { padding-top: 0}
.form-box H2 { font-size: x-small; margin: 0; padding: 7px; font-size/**/:/**/ small}
.form-box H2#thead { background: #F00} /* Optional extra design */
.input>INPUT.radio { vertical-align: text-bottom}
.input#radio { margin-left: -4px}
.tr>.input#radio { padding-top: 0.2em}
.phone { float: left; margin-right: 5px}
.tr { background: #BFBFFF; padding: 7px}
.tr .input { float: left}
.tr INPUT, .tr SELECT { vertical-align: middle}
.tr LABEL { float: left; font-weight: bold; padding: 0.2em 9px 0 0}
.tr LABEL.default-label { display: inline; float: none; font-weight: normal; padding: 0; width: auto !important}
.two-polar-blocks LABEL, DIV.bg_tfoot SPAN { text-align: left; width: 400px}
.two-polar-blocks { text-align: right}
DIV.bg_tfoot { clear: both; text-align: right}
DIV.bg_tfoot SPAN { float: left}
DIV.bg_tfoot P { margin: 0}
#ch-password .bg_tfoot, #form-invite .bg_tfoot, #form-play .bg_tfoot, #form-user .bg_tfoot, #form-support .bg_tfoot { text-align: left}
FORM { margin: 0; padding: 0}
INPUT { color: #000; font-size: 13px; width: 160px}
LABEL { cursor: hand; cursor: pointer}
LABEL SPAN { display: block; font: normal 85%}
LABEL SPAN.nowrap { display: inline; font: bold 100%}
TEXTAREA { width: 420px}

#form-invite INPUT#invite, INPUT#change, INPUT#play, INPUT#signup, INPUT#submit { border: 0; height: 20px !important; width: 130px !important}

#form-period { font-size: 13px}
#form-period INPUT, #form-period SELECT { vertical-align: middle}
#form-period INPUT#OK, #subscriberu INPUT#OK { margin-left: 5px}
#thistory SELECT#period { /* width: 120px */}
.reports-select-t { padding-bottom: 0.3em}
.reports-select-t .column1-2 { padding-right: 40px}
.reports-select-t .column1-2, .reports-select-t .column2-2 { float: left; width: auto}
.reports-select-t DIV { margin-bottom: 0.5em}
.reports-select-b { margin: 1em 0; white-space: nowrap}
INPUT#type-custom, INPUT#type-predefined { margin-left: -5px}
OPTGROUP { font-style: normal}
SELECT#game { width: 150px}

.form-line { margin-bottom: 1em}
.form-line INPUT { margin-right: 14px}
.form-line LABEL { float: none; padding: 0 9px 0 0}
.form-line LABEL.alert { text-indent: 0; padding-left: 1.2em}

#ch-password { float: right; margin: 0 0 5px 10px; width: 280px}
#ch-password LABEL { width: 180px; width/**/:/**/ 168px}
#ch-password INPUT#password, #ch-password INPUT#newpassword, #ch-password INPUT#confirm { width: 80px}

#form-bug INPUT#submit { margin-bottom: 1em}

#form-invite .column1-2, #form-invite .column2-2 { float: left; width: 280px}
#form-invite INPUT { width: 120px}
#form-invite LABEL { width: 100px}

#form-signin { background: #66C; border: 1px solid #339; border-bottom-width: 3px; text-align: left; margin-left: -226px; padding: 0; position: absolute; top: 180px; left: 50%; visibility: hidden; width: 240px}
#form-signin A, #box-signin A:visited { color: #FF9}
#form-signin A:hover { color: #FFF}
#form-signin H2 { background: #4040A6; color: #CCF; font-size: 13px; text-align: right; margin: 0 0 10px; padding: 10px}
#form-signin H2 SPAN { float: left}
#form-signin INPUT#signin, #form-signin INPUT#password { margin-bottom: 5px; width: 120px}
#form-signin INPUT#signin-btn { border: 0; margin: 0 0 5px 95px; height: 30px; width: 80px}
#form-signin LABEL { color: #FFF; float: left; font-size: 13px; font-weight: bold; text-align: right; padding: 0.2em 5px 0 0; width: 90px}
#form-signin UL { border-top: 1px solid #339; font: 11px Tahoma, Geneva, Arial, sans-serif; list-style: none; margin: 0 10px; padding: 10px 0}
#form-signin UL LI { float: left; margin: 0 5px 0 0; padding: 0}
#overlay { background: #000; -moz-opacity: 0.6; opacity: .60; filter: alpha(opacity=60); position: fixed; top: 0; left:0; visibility: hidden; height: 100%; width: 100%}
	*HTML #overlay { position: absolute; top: expression((ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop) + 'px')}

#form-play LABEL { float: none}
#form-play INPUT#login { margin-right: 20px}

#form-support .tr LABEL { width: 160px}
#form-support INPUT, #form-support SELECT { width: 320px}

#form-user .tr .input { width: 500px}
#form-user .tr LABEL { width: 160px}
#form-user .tr LABEL#in-phone, .in-phone { font-weight: normal !important; padding: 2px 5px 0 0 !important; width: auto !important}
#form-user H2 { background: #B2B2FF}
#form-user INPUT, #form-user SELECT { width: 300px}
#form-user INPUT#year { margin-left: 3px}
#form-user INPUT#phone_area, #form-user INPUT#phone_int, #form-user INPUT#phone_number, #form-user INPUT#year, #form-user INPUT.checkbox, #form-user INPUT.radio, #form-user SELECT#day, #form-user SELECT#month { width: auto}
#optional-inputs INPUT { color: #FFF; background: #002DA0 !important}
.padding-t2 { padding-top: 2px}

#profile .tr, #profile H2 { border-bottom: 1px solid #66C}
#profile .tr .input { width: 280px}
#profile .tr SPAN.th { display: block; float: left; font-weight: bold; padding: 0.2em 9px 0 0; width: 280px}
#profile H2 { background: #B2B2FF}

INPUT#amount { margin-left: 5px}
INPUT#OK { border: 0; height: 26px; width: 40px}
INPUT.checkbox, INPUT.radio { width: auto}

/* Footer */
#counters { position: absolute; left: 0; top: 0; visibility: hidden}
#footer { background: url(/a/_projects/anna-casino/img/bg_footer_b.gif) no-repeat center bottom; color: #CCF; font: 85% Tahoma, Geneva, Arial, sans-serif !important; text-align: center; margin: 0 auto; padding: 0 0 40px; width: 760px}
#footer A, #footer A:visited { color: #CCF}
#footer A:hover { color: #FFF}
#splited_counters { position: absolute; left: 0; top: 0; visibility: hidden}
.btns { list-style-image: none; list-style-type: none; margin: 0 auto; padding: 20px 0 40px}
.btns LI { float: left; margin-right: 7px; width: 31px}
.btns>LI { min-width: 31px; width: auto}
.footer-t { background: url(/a/_projects/anna-casino/img/bg_footer_t.gif) no-repeat center top; padding-top: 30px}
.last { margin-right: 0 !important}
.payout { background-repeat: no-repeat; color: #FFF; font-size: 13px; font-weight: bold; text-align: right; padding: 7px 5px 0 0; height: 30px; height/**/:/**/ 23px}

/* Customization */
#front #nameplate A { cursor: default}
#front #a-home { background-position: 0 -30px; cursor: default}
#about #a-about, #deposit #a-deposit, #help-index #a-help, #news #a-news, #promo #a-promo, #profile #a-profile, #support #a-support, #thistory #a-thistory, #whistory #a-whistory, #withdraw #a-withdraw { background-position: 0 -25px; cursor: default}
#signup #a-signup-t { display: none !important}
.current { color: #000; cursor: text; text-decoration: none}