HTML, BODY { min-height: 100%}
HTML { background: url(/a/_projects/eton/img/bg.png)}
BODY { background: url(/a/_projects/eton/img/bg-light.png) no-repeat center top; color: #53565A; font: 81.3%/146.2% Arial, Geneva, Helvetica, sans-serif; text-align: center; margin: 0; padding: 76px 0}
	#coming-soon {  text-align: left; margin: 0 auto; position: relative; padding: 0 342px 0 0; width: 418px}

A { color: #66C}
A:visited { color: #C6C}
A:hover { color: #C00}
P { margin: 0 auto 1.46em}
UL { list-style-image: url(/a/_projects/eton/img/dtl-bullet.gif); margin: 0 auto 1.46em; padding: 0}
	UL UL { list-style-image: url(/a/_projects/eton/img/dtl-bullet-nested.gif); margin-bottom: 0}
    UL.hanging { margin-left: -1.15em}
	LI { margin-bottom: .4em }
UL.iconed, UL.inline { list-style-image: none; list-style-type: none}
	UL.iconed LI { position: relative}
       UL.iconed EM { background:  url(/a/_projects/eton/img/header.png) no-repeat; display: block; text-indent: -4300em; position: absolute; top: .08em; left: -25px; height: 16px; width: 18px}
			#li_email EM { background-position: -420px -230px}
			#li_twitter EM { background-position: -440px -230px}
    UL.inline LI { display: inline; margin: 0 0 0 .4em}


.caption { margin-bottom: .4em}
#coming-soon .article { background: #FFF; padding: 23px 76px 67px}
#coming-soon H1 { background: url(/a/_projects/eton/img/header.png) 0 0 no-repeat; text-indent: -4300em; margin: 0; padding: 0; height: 190px; width: 418px}
#coming-soon .header DIV { background: url(/a/_projects/eton/img/header.png) no-repeat -342px 0; color: #8080E5; font-size: 161.5%; line-height: 119%; padding: 51px 0 0 113px; position: absolute; top: 0; right: 0; height: 177px; width: 305px}
.tel A { color: #C00; cursor: default; font-size: 123.1%; text-decoration: none}
