@import url(/a/projects/best-media/css/current-pages.css);

BODY { background: #F2E5CC url("/a/projects/best-media/img/bg.gif") repeat-x; color: #57534A; font-family: Arial, Geneva, Helvetica, sans-serif; font-size: x-small; font-size/**/:/**/ small; text-align: center; margin: 0; padding: 0}

A { color: #E66701; outline: 0}
A:visited { color: #57534A}
A:hover { color: #000}
BR { clear: left}
DFN, EM { color: #E66701; font-style: normal}
H1 { color: #E66701; font-size: 130%; margin: 0; padding: .7em 0}
H2 { font-size: 110%}
H3 { font-size: 100%; margin-bottom: 0}
HR { border: none 0; border-top: 1px solid #E66701; margin-bottom: 1em; height: 1px}
IMG { border: 0}
	IMG.f_left { margin: 2px 10px 5px 0}
	IMG.f_right { margin: 2px 0 5px 10px}
P { margin: 0 0 1em}

/* Header ------------------------------------------------------------------------------------------------------------------------------*/
#header { background:   url("/a/projects/best-media/img/bg-header.gif") repeat-x 50% 40px; padding: 40px 0 20px; height: 120px; height/**/:/**/ 60px; width: 100%}
	#header DIV { text-align: left; margin: 0 auto; width: 760px}
		#header H1 { background-repeat: no-repeat !important; float: left; margin: 0 132px 0 30px; height: 60px; width: 118px}
			#header H1 A { display: block; text-indent: -6400px; height: 60px}
		#header UL { list-style-image: none; list-style-type: none; margin: 0; padding: 14px 0 0}
			#header .f_left { width: 380px}
			#header .f_right { width: 62px}
				#header LI { background-position: 0 0; background-repeat: no-repeat; text-indent: -6400px; padding: 0; position: relative; height: 30px; z-index: 2}
					#header .f_left LI { float: left; margin: 0 14px 0 0; position: relative}
						#btn_home { background:   url("/a/projects/best-media/img/btn-home.gif"); width: 30px}
					#header .f_right LI { float: right; margin: 0 0 0 10px}
						#btn_en { background:   url("/a/projects/best-media/img/btn-english.gif"); width: 21px}
						#btn_ru { background:   url("/a/projects/best-media/img/btn-russian.gif"); width: 21px}
				#header LI:hover, #header LI.pc_hover { background-position: 0 -30px; cursor: hand; cursor: pointer}
					#header LI A { display: block; height: 30px}
				
				#header LI UL { background: #D3D5D9; border-bottom: 2px solid #939599; display: none; position: absolute; top: 30px; left: 0; padding: .5em 0}
					#header LI:hover UL, #header LI.pc_hover UL { display: block}
				#header LI LI { background: transparent none; float: none; font: 85% Tahoma, Geneva, Arial, sans-serif; text-indent: 0; margin: 0 !important}
					#header LI LI A { color: #46484C !important; display: block; text-decoration: none; height: auto; padding: 4px 8px; height: auto; width: 160px; width/**/:/**/ 144px}
						#header LI LI A:hover { background: #DFE1E5}

/* Containers --------------------------------------------------------------------------------------------------------------------------*/
.container { line-height: 140%; text-align: left; margin: 0 auto; padding-bottom: 50px; width: 760px}
	.col1_2 { float: left; width: 340px}
	.col2_2 { float: right; width: 340px}
	.col1_3, .col2_3, .col3_3 { float: left; width: 220px}
	.col1_3, .col2_3 { margin-right: 20px}

/* Body copy ---------------------------------------------------------------------------------------------------------------------------*/
.a_forward { background:   url("/a/projects/best-media/img/dtl-arrow-forward.gif") no-repeat right center; padding-right: 24px}

.box { background:   url("/a/projects/best-media/img/bg-box.gif") no-repeat center bottom; float: left; margin-right: 20px; min-height: 280px; height: 280px; width: 180px}
	HTML>BODY .box { height: auto}
	.news H2 { float: left; font-size: 100%; margin: 23px 0 0 10px; width: 5em}
		HTML>BODY .news H2 { margin: 23px 0 0 20px}
	.box P { margin: 0; padding: 0 20px 1em}
		.box_first_item { background:   url("/a/projects/best-media/img/bg-box-t.gif") no-repeat; padding-top: 23px !important}
		.box .a_forward { background:   url("/a/projects/best-media/img/dtl-arrow-forward-in-box-l.gif") no-repeat left center; padding: 0 0 0 7px}
			.box .a_forward A { background:   url("/a/projects/best-media/img/dtl-arrow-forward-in-box.gif") no-repeat right center; color: #57534A; text-decoration: none; padding-right: 24px}

.c_left { clear: left}
.c_right { clear: right}

.f_left { float: left}
.f_right { float: right}

.margin_right0 { margin-right: 0 !important}
.padding_t20 { padding-top: 20px}
.txt_small { font: 85% Tahoma, Geneva, Arial, sans-serif}

/* Lists --------------------------------------------------------------------------------------------------------------------------------*/

.list_inline { display: inline; margin: 0; padding: 0}
	.list_inline LI { border-left: 1px solid #57534A; display: inline; line-height: 160%; list-style: none; margin-left: -7px; padding: 0 8px 0 7px}
		HTML + HTML .list_inline LI { border-left: none}
		.list_inline LI.first { border-left: none}

/* Footer ------------------------------------------------------------------------------------------------------------------------------*/

#footer { border-top: 1px solid #D9CBB2; font: 85% Tahoma, Geneva, Arial, sans-serif; text-align: left; margin: 0 auto; padding: 39px 0 54px; width: 760px}
	#footer .col1_2 { list-style-image: none; list-style-type: none; margin: 0; padding: 0; width: 190px}
		#footer .col1_2 LI { float: left; margin: 0 7px 11px 0}
	#footer .col2_2 { width: auto}
		#footer P { margin-bottom: 0}
		.phone { background:   url("/a/projects/best-media/img/bg-phone.gif") no-repeat 0 4px; padding: 4px 0 0 60px; height: 41px; height/**/:/**/ 37px; width: 188px; width/**/:/**/ 128px}

/* Front -------------------------------------------------------------------------------------------------------------------------------*/
#banner { background:   url("/a/projects/best-media/img/dtl-banner-bar.gif") no-repeat; height: 160px; width: 100%}
	#banner DIV { background:   url("/a/projects/best-media/img/bg-banner.gif") no-repeat; margin: 0 auto; position: relative; height: 160px; width: 760px; z-index: 1}
		#banner DIV IMG { behavior:   url("/a/projects/best-media/js/png-hack.htc"); position: absolute; bottom: -42px; left: 0}
		#banner DIV H1 { background:   url("/a/projects/best-media/img/ru/h-front.gif") no-repeat; text-indent: -6400px; margin: 0; position: absolute; top: 40px; left: 380px; height: 80px; width: 310px}

#home .container .col2_2 { width: 560px}
	#home .container .col2_2 UL { list-style-image: none; list-style-type: none; margin: 1.5em 0 0; padding: 0}
		#home .container .col2_2 LI { float: left; margin-right: 10px; padding-top: 10px}
			#li_vsk { padding-top: 0 !important}
			
#home .col3_3 { list-style-image: none; list-style-type: none; margin: 0; padding: 0; width: 140px}
	#home .col3_3 LI { float: left; margin: 0 0 16px}

/* Clearer -----------------------------------------------------------------------------------------------------------------------------*/
.cfx:after { content: "."; display: block; height: 0; clear: both; visibility: hidden}
.cfx { display: inline-table}
/* Hides from IE-mac \*/
* HTML .cfx { height: 1%}
.cfx { display: block}
/* End hide from IE-mac */	