.closed { display: none}
:disabled, .disabled { cursor: default; filter: alpha(opacity=4); -moz-opacity: .4; opacity: .4}
.primary HEADER { margin-bottom: 1.54em}

/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden}
/* Hide only visually, but have it available for screenreaders */
.v_hidden { border: 0; clip: rect(0 0 0 0); margin: -1px; padding: 0; overflow: hidden; position: absolute; height: 1px; width: 1px}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.v_hidden.focusable:active,
.v_hidden.focusable:focus { clip: auto; margin: 0; overflow: visible; position: static; height: auto; width: auto}

.hp { margin-left: -.381em} /*hanging punctuation */

.left { float: left}
.right { float: right}

.merged { margin-bottom: 0} 
.nowrap { white-space: nowrap}
.tel { color: #535659; cursor: default; text-decoration: none}