#logo { background:   url(/a/projects/virtonomica/img/ru/logo.gif) no-repeat 0 20px}

/* Global Menu -------------------------------------------------------------------------------------------------------------------------------*/
#li_game { background:  url(/a/projects/virtonomica/img/ru/btn-game.gif) no-repeat; width: 44px}
#li_help { background:  url(/a/projects/virtonomica/img/ru/btn-help.gif) no-repeat; width: 65px}
#li_news { background:  url(/a/projects/virtonomica/img/ru/btn-news.gif) no-repeat; width: 140px}
#li_communication { background:  url(/a/projects/virtonomica/img/ru/btn-communication.gif) no-repeat; width: 69px}
#li_useful { background:  url(/a/projects/virtonomica/img/ru/btn-useful.gif) no-repeat; width: 72px}

/* Front -------------------------------------------------------------------------------------------------------------------------------------*/
#billboard H1 { background: url(/a/projects/virtonomica/img/ru/front/h1.gif) no-repeat}
#billboard #target_tour OL { background: transparent url(/a/projects/virtonomica/img/ru/front/billboard.png) no-repeat left top}

.li_a { background-image:  url(/a/projects/virtonomica/img/ru/front/li-a.gif) !important}
.li_b { background-image:  url(/a/projects/virtonomica/img/ru/front/li-b.gif) !important}
.li_c { background-image:  url(/a/projects/virtonomica/img/ru/front/li-c.gif) !important}
.li_d { background-image:  url(/a/projects/virtonomica/img/ru/front/li-d.gif) !important; line-height: normal !important}
.li_e { background-image:  url(/a/projects/virtonomica/img/ru/front/li-e.gif) !important; line-height: normal !important}

#teaser_ratings H2 SPAN { background:  url(/a/projects/virtonomica/img/ru/front/h-ratings.gif) no-repeat left center}
#teaser_advertisers H2 SPAN { background:  url(/a/projects/virtonomica/img/ru/front/h-advertisers.gif) no-repeat left center}
#teaser_news_game H2 SPAN { background:  url(/a/projects/virtonomica/img/ru/front/h-news-game.gif) no-repeat left center}
#teaser_news H2 SPAN { background:  url(/a/projects/virtonomica/img/ru/front/h-news.gif) no-repeat left center}