TABLE { border: 1px solid #C6D2D9; border-collapse: collapse; color: #465259; margin: 0 0 1em; width: 100%}
	TABLE.txt_small * { font: 100% Tahoma, Geneva, Arial, sans-serif}
	.table_no_border { border: 0 none}
		.table_no_border  TD, .table_no_border TH, .table_no_inner_border  TD, .table_no_inner_border TH { border-right: 0 none}
	CAPTION { font-weight: bold; padding-bottom: 0.5em}
	CAPTION, TD, TH { font-size: x-small; font-size/**/:/**/ small; text-align: left; vertical-align: top}
		.t_right TD, .t_right TH { text-align: right !important}
	THEAD { background: #BFC1C5}
	TFOOT { background: #CCCED2}
		TR:hover, .tr_ie_hover, TR:hover *, .tr_ie_hover * { background: #0080CC !important; color: #FFF !important}
			TH	{ background: #D2DEE5; border-right: 1px solid #C6D2D9; font-weight: bold !important; padding: 6px}
			TD { border-right: 1px solid #C6D2D9; padding: 6px}
			.even { background: #FFF}
			.odd { background: #E6F2F9}	
			.cell_border_b { border-bottom: 1px solid #C6D2D9}
			.cell_border_t { border-top: 1px solid #C6D2D9}
			
DIV.scrollable { background: #E6F2F9; clear: both; margin-bottom: 10px; padding: 0; padding/**/:/**/ 0 0 .75em; *padding/**/:/**/ 0 16px 0 0; overflow: hidden; *overflow-y: scroll; _overflow-y: auto; height: 15em}
	@media screen and (min-width: 0){ HTML>BODY DIV.scrollable { overflow: auto}} /* Opera 7+ CSS hack */
	DIV.scrollable TABLE {  border: 0 none; border-collapse: separate; margin: 0 -16px 0 0}
			DIV.scrollable THEAD TR { position: relative} /* set table header to a fixed position (WinIE 6 only) In WinIE 6 any element with a position property set to relative and is a child of an element that has an overflow property set, the relative value translates into fixed. Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
		HTML>BODY DIV.scrollable TBODY { overflow: scroll; height: 14em}
			DIV.scrollable TBODY TR { height: auto}
				DIV.scrollable TD, DIV.scrollable TH { border-right: 1px solid #FFF; border-bottom: 1px solid #FFF; text-align: left; padding: 6px}
				DIV.scrollable TH	{ background: #D3D5D9; font: 70% Tahoma, Geneva, Arial, sans-serif; font-size/**/:/**/ 85%}
					DIV.scrollable TBODY TD:last-child { padding-right: 22px}
					
#sorttable_sortrevind { background: url(/a/projects/virtonomica/img/dtl-arrow-up-grey.gif) no-repeat center center; padding: 0 .3em}
#sorttable_sortfwdind { background: url(/a/projects/virtonomica/img/dtl-arrow-down-grey-thead.gif) no-repeat center center; padding: 0 .3em}