@font-face {
    font-family: 'ArialNarrow';
    src: url('/a/projects/sakh-invest-portal/type/arial-narrow.eot');
    src: url('/a/projects/sakh-invest-portal/type/arial-narrow.eot?#iefix') format('embedded-opentype'),
         url('/a/projects/sakh-invest-portal/type/arial-narrow.woff') format('woff'),
         url('/a/projects/sakh-invest-portal/type/arial-narrow.ttf') format('truetype'),
         url('/a/projects/sakh-invest-portal/type/arial-narrow.svg#ArialNarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}