@charset "UTF-8";
#header, #header .menu .label A, #header .menu .label EM, #header .extra:hover .label EM { background-image: url(/a/projects/betplaynow/img/blue.png)}
	.casino #header H1 { background-position: 0 -240px}
 
 #billboard { background: url(/a/projects/betplaynow/img/casino.jpg) no-repeat; color: #FFF; margin-bottom: 15px; padding-top: 58px; height: 313px}
	#billboard H2 { font-size: 26px; line-height: 26px; text-align: center; margin: 0 0 15px 30px; width: 270px}
	#billboard H1 { background: url(/a/projects/betplaynow/img/32/casino-h1.png) no-repeat; text-indent: -4300em; margin: 0 0 0 30px; height: 60px; width: 270px}
 
.games_set H2 EM { background: url(/a/projects/betplaynow/img/casino.jpg) no-repeat}
    #g_special H2 EM { background-position: 0 -380px; top: -.7em}
    #g_cards H2 EM { background-position: -70px -380px}
    #g_vp H2 EM { background-position: -140px -380px}
    #g_slots H2 EM { background-position: -210px -380px}