@charset "UTF-8";
HTML, BODY { overflow: hidden; height: 100%}
HTML { background: #000 url(/a/img/bg.png) repeat-x}
BODY { background: url(/a/img/bg-noscript.gif) center top repeat-y; color: #565659; font: x-small/140% Arial, Geneva, Helvetica, sans-serif; font-size/**/:/**/ small; text-align: center; position: relative; margin: 0; padding: 58px 0 0 39px}
#body_copy { background: #ECEEF2; text-align: left; margin: 0 auto; padding-right: 39px; overflow: auto; overflow-x: hidden;  height: 83%; width: 661px; width/**/:/**/ 622px}
	.tbns#body_copy { padding-right: 19px; width/**/:/**/ 642px}

/* Main Markup -------------------------------------------------------------------------------------------*/
A { border-bottom: 1px solid #36C; color: #36C; outline: 0; text-decoration: none}
A:visited { border-bottom: 1px solid #CC3380; color: #CC3380}
A:hover { border-bottom: 1px solid #D93326; color: #D93326}
ABBR { cursor: help}
H1 { background: url(/a/img/greys.png) 0 -60px no-repeat; color: #C8CACE; font-size: 135%; font-weight: normal; line-height: 17px; text-align: left; margin: 0 0 0 -350px; _margin-top: -20px; padding: 0 39px; position: absolute; top: 0; left: 50%; height: 46px; width: 700px; width/**/:/**/ 622px}
	*HTML H1 { top: 20px}
H2 { font-size: 110%; line-height: 140%}
	*+HTML H2 { clear: both}
H3 { font-size: 100% !important; line-height: 140%}
IMG { border: 0}
P { margin: 0 0 1.33em}
	.caption { margin-bottom: .4em}
UL { list-style: url(/a/img/dtl-bullet.gif) outside; margin: 0 0 1em 16px; padding: 0}
UL LI { padding: 0 0 .4em}

.b_back { padding-left: 14px; position: relative; zoom: 1}
	.b_back EM { background: url(/a/img/greys.png) -445px -50px no-repeat; display: block; line-height: 0; text-indent: -430em; margin-top: -3px; padding: 0; position: absolute; top: 50%; left: 0; height: 9px; width: 10px}

/* Layout and widgets ------------------------------------------------------------------------------------*/
#main { text-align: left; width: 380px; float: left}
	#main H2, #main H3, #sidebar H2 { margin-bottom: 0}
#sidebar { text-align: left; float: right; width: 200px}
		#sidebar H2 A { color: #565659; border-bottom: 0 none}
		#sidebar H2 A:hover {  border-bottom: 1px solid #D93326; color: #D93326}
		#sidebar H2 SPAN { background: url(/a/img/favicons.png) no-repeat; display: block; float: right; height: 16px; width: 16px}
			#sidebar #ico_flickr { background-position: -48px 0}
			#sidebar #ico_lastfm { background-position: -64px 0}
			#sidebar #ico_youtube { background-position: 0 -16px}
			#sidebar #ico_delicious { background-position: -32px -16px}
			#sidebar #ico_twitter { background-position: -16px -16px}
			#sidebar #ico_imdb { background-position: -48px -16px}
            #sidebar #ico_tumblr { background-position: -80px 0}
            #sidebar #ico_vkontakte { background-position: -80px -16px}
			#sidebar #ico_my_mail { background-position: -96px 0}
			#sidebar #ico_book { background-position: -96px 0}

#goodreads { background: #CCC; padding: 5px 9px 5px 6px}
#lastfm { background: #CCC; margin: .4em 0 1.33em; padding: 8px}

#flickr_badge_wrapper { margin-left: -10px; width: 210px}
.flickr_badge_image { float: left; margin: 0 10px 10px 0}
.flickr_badge_image IMG { height: auto; width: 60px}

.col1_2 { float: left; width: 300px}
	UL.col1_2, UL.col2_2 { list-style-image: none; list-style-type: none; margin: 0 0 1em}
		UL.col1_2 LI, UL.col2_2 LI, UL.teaser LI { background: url(/a/img/dtl-bullet.gif) no-repeat 0 0; padding-left: 16px}
			UL.teaser LI.more { background: none}
.col2_2 { float: right; width: 300px}

#btn_close { background: url(/a/img/btn-close.png) no-repeat; border: 0 none; cursor: pointer; cursor: hand; display: block !important; text-indent: -640em; margin: 0 0 0 293px; outline: 0; position: absolute; top: 0; left: 50%; height: 20px; width: 20px; z-index: 2}

/* Lists -------------------------------------------------------------------------------------------------*/
UL.corporate, UL.casino, UL.misc { list-style-image: none; list-style-type: none; margin: 0; padding: 0}
	UL.corporate LI, UL.casino LI, UL.misc LI { background: none !important; margin: 0 0 40px 1px; padding: 0 !important; width: 300px}
		UL.corporate DIV, UL.casino DIV, UL.misc DIV { float: right; width: 140px}
			UL.corporate DIV UL, UL.casino DIV UL, UL.misc DIV UL { display: inline; list-style-image: none; list-style-type: none; margin: 0; padding: 0}
				UL.corporate DIV LI, UL.casino DIV LI, UL.misc DIV LI { display: inline; margin: 0; padding-right: .2em !important; width: auto}
		A.tbn { background-repeat: no-repeat; border-bottom: 0 none !important; display: block; text-indent: -640em; height: 80px; width: 140px}
			UL.corporate A.tbn { background-image: url(/a/img/tbns-corporate.png)}
				.tbn#corp_travel { background-position: -140px -240px}
				.tbn#polylog { background-position: 0 -240px}
				.tbn#vega { background-position: -420px -160px}
				.tbn#best_media { background-position: -280px -160px}
				.tbn#lukoil { background-position: -140px -160px}
				.tbn#three_w_4 { background-position: 0 -160px}
				.tbn#expedition { background-position: -420px -80px}
				.tbn#dvk { background-position: -280px -80px}
				.tbn#interinet { background-position: -140px -80px}
				.tbn#three_w_3 { background-position: 0 -80px}
				.tbn#hartley { background-position: -420px 0}
				.tbn#templates { background-position: -280px 0}
				.tbn#three_w_2 { background-position: -140px 0}
				.tbn#maximum { background-position: 0 0}
			UL.casino A.tbn { background-image: url(/a/img/tbns-casino.png)}
				.tbn#virtonomica { background-position: -280px -320px}
				.tbn#pro100 { background-position: -140px -320px}
				.tbn#various_casinos { background-position: 0 -320px}
				.tbn#pari_match { background-position: -280px -240px}
				.tbn#anna { background-position: -140px -240px}
				.tbn#sportingbet { background-position: 0 -240px}
				.tbn#various_casino_games { background-position: -280px -160px}
				.tbn#amazon { background-position: -140px -160px}
				.tbn#yandex { background-position: 0px -160px}
				.tbn#various_online_games { background-position: -280px -80px}
				.tbn#crazy { background-position: -140px -80px}
				.tbn#motown { background-position: 0 -80px}
				.tbn#galley { background-position: -280px 0}
				.tbn#golden_gate { background-position: -140px 0}
				.tbn#sport1x2 { background-position: 0 0}
			UL.misc A.tbn { background-image: url(/a/img/tbns-misc.png)}
				.tbn#rpm { background-position: -140px -160px}
				.tbn#icons { background-position: 0 -160px}
				.tbn#intro_homepage { background-position: -280px -80px}
				.tbn#its { background-position: -140px -80px}
				.tbn#sitecraft { background-position: 0 -80px}
				.tbn#rao { background-position: -280px 0}
				.tbn#dragonfly { background-position: -140px 0}
				.tbn#intro_ru { background-position: 0 0}
		.date { color: #A0A2A6; display: block; padding-top: 0.4em}
UL.social, UL.teaser { list-style-image: none; list-style-type: none; margin: 0 0 1.33em; padding: 0}
	UL.social LI SPAN { background: url(/a/img/favicons.png) no-repeat; display: block; float: right; height: 16px; width: 16px}
		#sidebar #ico_linkedin { background-position: 0 0}
		#sidebar #ico_odnoklassniki { background-position: -16px 0}
		#sidebar #ico_facebook { background-position: -32px 0}


.list_inline { list-style-image: none; list-style-type: none; margin: 0}
	.list_inline LI { border-left: 1px solid #ACAEB2; display: inline; margin-left: -7px; padding: 0 8px 0 7px}
	HTML + HTML .list_inline LI { border-left: none}
	.li_first { border-left: none !important}

/* Comments ----------------------------------------------------------------------------------------------
FORM { margin: 0; padding: 0}
	INPUT, SELECT { vertical-align: middle}
	FIELDSET { border: 0 none; margin: 0; padding: 0 0 1.33em}
	LABEL { cursor: pointer; cursor: hand; display: block; padding-bottom: .2em}

#comment-form { margin-top: 2em}
	#comment-form .textarea { float: left; padding: 0; width: 98%}		
		#comment-form .textarea DIV { margin-right: 13.05em}
			#comment-form .textarea TEXTAREA { height: 25.5em; *height: 24em; _height: 26.4em; width: 99%}
				@media screen and (-webkit-min-device-pixel-ratio:0){ #comment-form .textarea TEXTAREA { height: 30.1em}}
	#comment-form FIELDSET.signature { float: left; margin-left: -10.9em; padding: 0; width: 10.5em}
		#edit-name, #edit-mail, #edit-captcha-response  { *float: left; width: 134px}
			#edit-submit { background: url(/a/img/greys.png) no-repeat -460px 0; border: 0 none; color: #8C8E92; cursor: pointer; cursor: hand; *float: left; font-size: 13px; padding: 0; height: 30px; width: 140px}
		FIELDSET.signature DIV { margin-bottom: 1.7em}
			.captcha IMG { margin: 0 0 .6em !important; width: 140px !important}
			.description { color: #939599}

DIV.odd { background: #E0E2E6; padding: 14px 15px 15px}
DIV.even { border: 1px solid #E0E2E6; border-top: 0 none; padding: 15px 14px}
	.byline { color: #86888C}

UL.links { display: inline; list-style-image: none; list-style-type: none; margin-left: 0}
	UL.links LI { display: inline; border-left: 1px solid #40B2B2; margin-left: .4em; padding-left: .6em}
	.comment_reply { display: none !important}
	
.messages { background: #ECEEF2; font-weight: bold; text-align: left; margin: 0 0 0 -350px; _margin-top: -20px; padding: .6em 39px .4em; position: absolute; bottom: 55px; left: 50%; width: 606px; z-index: 4} */


/* Clearer -----------------------------------------------------------------------------------------------*/
.cfx:after { content: "."; display: block; height: 0; clear: both; visibility: hidden}
.cfx { display: inline-table}
/* Hides from IE-mac \*/
*HTML .cfx { height: 1%}
.cfx { display: block}
/* End hide from IE-mac */