.error { text-align:left; margin-left: 9px}
.bg-footer-nm { background-image: url(/a/projects/sitecraft/img/footer_newsmaker02.gif); background-repeat: no-repeat}
.bg-green { background-color: #339933}
.bg-grey204 { background-color: #CCCCCC}
.bg-grey243 { background-color: #F3F3F3}
.bg-scroll { background-image: url(/a/projects/sitecraft/img/bg_scroll.gif); background-repeat: repeat-x}
.bg-shade { background-color: #F3F3F3; background-image: url(/a/projects/sitecraft/img/bg_shade.gif); background-repeat: repeat-y}
.bg-white { background-color: #FFF}
.h2 { font-family: Tahoma, Arial, sans-serif; color: #000; font-size: 11px; font-weight: bold; margin-top: 0; margin-bottom: 0}
.small { font-family: Tahoma, Verdana, sans-serif; font-size: 11px}
.small-link { font-family: Tahoma, Verdana, sans-serif; font-size: 11px; margin-top: 5px; margin-bottom: 13px}
.small-link a { color: #000}
.small-link a:visited { color: #000}
.small-link a:hover { color: #337FCC}
.txt-navy-blue { color: #003399}
a { color: #666666}
a:visited { color: #666666}
a:hover { color: #E55933}
HTML, BODY { height: 100%}
BODY { background-color: #FFF; background-image: url(/a/projects/sitecraft/img/bg.gif); margin: 0; padding: 0}
CAPTION { font-family: Tahoma, Verdana, sans-serif; color: #000; font-size: 13px; text-align: left; padding-bottom: 4px}
INPUT { font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 13px}
TD { font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 13px}
TH { font-family: Arial, Helvetica, sans-serif; color: #000; font-size: 13px; text-align: left}