FORM { margin: 0; padding: 0}
	FIELDSET { border: 0 none; margin: 0; padding: 0; overflow: hidden}
		LEGEND { text-indent: -3px; position: absolute; top: 0; left: 0}
	FORM BR { clear: left}
	FORM H2 { margin-bottom: 0}
	INPUT, SELECT { vertical-align: middle}		
	LABEL { cursor: hand; cursor: pointer}		

.btn { background: transparent url(/a/_projects/virtonomica/img/btn.gif) no-repeat center center; border: 0 none; color: #535559; cursor: hand; cursor: pointer; float: left;  font: 11px Tahoma, Geneva, Arial, sans-serif; line-height: 30px; margin-top: 1em; height: 30px; width: 200px !important}
	A.btn { color: #465259 !important; display: block; text-align: center; text-decoration: none}
.checkbox, .radio, .checkbox { float: none !important; margin: 0 .4em 0 0 !important; width: auto !important}

.drop_cap { float: left; text-indent: -6400px; margin: 2px 10px 5px 0; height: 30px; width: 30px}
	.ico_info { background:  url(/a/_projects/virtonomica/img/dtl-info-on-grey.gif) no-repeat right center}

.form_standart DIV, .form_standart INPUT, .form_standart SELECT, .form_standart TEXTAREA { float: left; margin: 0 10px 1em 0; width: 59%}
		.form_standart .btn { margin-left: 180px}
.form_standart DIV { width: auto}
	.form_standart DIV INPUT { margin: 0; width: auto}
.form_standart H2 { background: #DFE1E5; font-size: 100%; margin: 0; padding: 7px}			
.form_standart LABEL { display: block; float: left; margin-bottom: 1em; padding: .3em 20px 0 0; width: 180px; width/**/:/**/ 160px}

.form_labels_t INPUT, .form_labels_t SELECT, .form_labels_t TEXTAREA { width: 100%}
	.form_labels_t DIV INPUT { width: auto}
.form_labels_t H2 { font-size: 100%}			
.form_labels_t LABEL { display: block; padding: .6em 0}

#form_user DIV { float: left; margin-top: .6em}
	#form_user DIV INPUT { margin: 0; width: 156px}

FIELDSET.wizard DIV { overflow: auto; width: 100%}
	FIELDSET.limited_height DIV { height: 21em}
FIELDSET.wizard TABLE { background: #E6F2F9; border: 1px solid #FFF}
	FIELDSET.wizard TH { border-right: 1px solid #FFF; border-bottom: 1px solid #FFF}
	FIELDSET.wizard TD { border-right: 1px solid #FFF; border-bottom: 1px solid #FFF}
FIELDSET.wizard LEGEND { font-weight: bold}
FIELDSET.wizard .f_left { width: 36%}
FIELDSET.wizard .f_right { width: 60%}