@imp\6F rt url(not-opera.css);
@import url(menu.css);
@import url(front.css);
@import url(lists.css);
@import url(modal-box.css);
@import url(tables.css);
@import url(forms.css);
@import url(current-pages.css);

BODY { background: #535F66 url(/a/_projects/virtonomica/img/bg.gif) repeat-x; color: #939FA6; font-family: Arial, Geneva, Helvetica, sans-serif; text-align: center; margin: 0; padding: 0}
BODY, HTML { height: 100%}

A { color: #D9E5EC; outline: 0}
A:visited { color: #535F66}
A:hover { color: #FFBF0D}
DFN, EM { color: #801919; font-style: normal}
H1 { color: #0073BF; font-size: 130%; margin: 0; padding: .7em 0}
H2 { font-size: 110%}
H3 { font-size: 100%; margin-bottom: 0}
	.sidebar H3 { margin: 1.4em 0 .4em}
HR { border: none 0; border-top: 1px solid #46484C; margin-bottom: 1em; height: 1px}
IMG { border: 0}
	IMG.f_left { margin: 2px 10px 5px 0}
	IMG.f_right { margin: 2px 0 5px 10px}
P { margin: 0 0 1em}

/* Layout ------------------------------------------------------------------------------------------------------------------------------------*/
#wrapper { font-size: x-small; font-size/**/:/**/ small; position: relative; min-height: 100%; height: 100%}
	HTML>BODY #wrapper { height: auto}
	#container { text-align: left; margin: 0 auto; padding-bottom: 14em; max-width: 930px; min-width: 730px; width: 99%}
		.content { background: #FFF; color: #465259; padding: 1em 30px; text-align: left}
			.main { width: 72% !important}
				.col1_2 { float: left; width: 48%}
				.col2_2 { float: right; width: 48%}
				.col1_3, .col2_3 { float: left; padding-right: 20px; width: 33%}
				.col3_3 { float: left; width: 33%}
				.main .cfx { padding-top: 1em}
			.sidebar { padding: 0 0 0 20px; width: 160px; width/**/:/**/ 140px}
				.sidebar .bnr_img { display: block; margin-bottom: 1em}
			.content_b { background:  url(/a/_projects/virtonomica/img/bg-content-bl.gif) no-repeat left bottom; padding-left: 14px}
				.content_b DIV { background:  url(/a/_projects/virtonomica/img/bg-content-br.gif) no-repeat right bottom; height: 40px}

#details { background: #E6F2F9; padding: 20px; overflow: auto; min-height: 15em; height: 15em}
	
/* Header ------------------------------------------------------------------------------------------------------------------------------------*/
#user_area { font: 85% Tahoma, Geneva, Arial, sans-serif; text-align: center}
	#user_area LI { border-left: 0 none; line-height: 30px; margin-left: 15px; padding: 3px 0; height: 30px}
			#user_area .first { margin-left: 0}
			#li_avatar IMG { vertical-align: middle; margin-top: -2px; height: 30px; width: 30px}
		#li_balance { background:  url(/a/_projects/virtonomica/img/icon-coin.gif) no-repeat left center; padding-left: 20px !important}
		#li_mail { background:  url(/a/_projects/virtonomica/img/icon-mail.gif) no-repeat left center; padding-left: 20px !important}
			#user_area LI A, #user_area LI A:visited { color: #939FA6; font-weight: normal}
			#user_area LI A:hover, #user_area #li_support A:hover { color: #FFBF0D !important}
			#user_area #li_user A, #user_area #li_user A:visited, #user_area #li_signin A, #user_area #li_signin A:visited, #user_area #li_signup A, #user_area #li_signup A:visited { color: #FFF; font-weight: bold}

#header { font: 85% Tahoma, Geneva, Arial, sans-serif; text-align: left; height: 100px}
	#logo { float: left; margin: 0; padding: 20px 0 0; height: 80px; height/**/:/**/ 60px; width: 220px}
		#logo A { display: block; text-indent: -6400px; height: 60px; width: 220px}
		#header .f_right { padding: 23px 0 0}
		
#li_home { background:  url(/a/_projects/virtonomica/img/ru/btn-home.gif) no-repeat; width: 34px}		

/* Body Copy ---------------------------------------------------------------------------------------------------------------------------------*/	
.a_close { background: url(/a/_projects/virtonomica/img/btn-close-on-grey.gif) no-repeat left bottom; color: #0073BF !important; display: block; font: 85% Tahoma, Geneva, Arial, sans-serif; border-top: 1px solid #ACAEB2; padding: 1.1em 0 .1em 2.1em}
.a_active { background: #C6D2D9; font-weight: bold}
	.a_active A { color: #6D7980 !important; text-decoration: none !important}
	.a_active STRONG { color: #6D7980; display: block; padding: .6em}
.a_forward { background:  url(/a/_projects/virtonomica/img/dtl-arrow-forward.gif) no-repeat right center; font: 85% Tahoma, Geneva, Arial, sans-serif; padding-right: 1.2em}
	HTML + HTML .a_forward { background: none}

.a_info, .a_info:hover { background: url(/a/_projects/virtonomica/img/dtl-question.gif) no-repeat left center; cursor: hand; cursor: pointer; display: block; float: left; text-decoration: none; margin-right: .3em; overflow: visible; position: relative; height: 1.4em; width: 16px}
	.a_indicator_h, .a_indicator_h:hover { background: url(/a/_projects/virtonomica/img/dtl-indicator-h.gif) no-repeat left center}
	.a_indicator_l, .a_indicator_l:hover { background: url(/a/_projects/virtonomica/img/dtl-indicator-l.gif) no-repeat left center}
	.a_indicator_m, .a_indicator_m:hover { background: url(/a/_projects/virtonomica/img/dtl-indicator-m.gif) no-repeat left center}
	.a_info SPAN { display: none}
	.a_info:hover SPAN { background: #D2DEE5 url(/a/_projects/virtonomica/img/bg-tooltip.gif) repeat-x; border: 1px solid #ECEEF2; border-bottom-width: 2px; color: #46484C; display: block; font: 85% Tahoma, Geneva, Arial, sans-serif; padding: 15px; position: absolute; bottom: 1em; left: 1em; width: 240px; width/**/:/**/ 208px}
	
	.a_up { font-weight: normal}

.alert { background:  url(/a/_projects/virtonomica/img/dtl-alert-on-grey.gif) no-repeat 0 .2em; text-indent: 1.2em}
.box { background: #ECEEF2; border-top: 4px solid #DFE1E5; margin-bottom: 1em; padding: 11px 15px 15px}
.caution { background:  url(/a/_projects/virtonomica/img/dtl-caution-on-grey.gif) no-repeat 0 .2em; text-indent: 1.2em}

.close { display: none}
	.hidden { visibility: hidden}
.open { display: block; visibility: visible}

.content A { color: #0073BF}
.content A:visited { color: #900}
.content A:hover { color: #337300}

.f_left { float: left}
.f_right { float: right !important}

.locked A { cursor: default}
.locked LABEL { cursor: default; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: .50}
	.locked .a_info { display: none}
	.locked .additional_info, .locked .a_indicator_h, .locked .a_indicator_l, .locked .a_indicator_m { display: block}

HTML>BODY .margin_box_padding { margin-left: -15px}

.mover_down { background:  url(/a/_projects/virtonomica/img/dtl-arrow-down-red.gif) no-repeat right center; padding-right: 10px}
.mover_up { background:  url(/a/_projects/virtonomica/img/dtl-arrow-up-green.gif) no-repeat right center; padding-right: 10px}

.noscript { background: #FFBF0D; color: #000; display: block; padding: 1em 0}
	.noscript P { background:  url(/a/_projects/virtonomica/img/dtl-caution-big.gif) no-repeat left center; font-weight: bold; line-height: 80px; text-align: left; margin: 0 auto; padding-left: 100px; min-height: 80px; width: 500px; width/**/:/**/ 400px}
		* HTML .noscript P { height: 80px}
		.noscript A, .noscript A:visited { color: #00F}
		.noscript A:hover { color: #F00}

.padding_b1em { padding-bottom: 1em}
.padding_b2em { padding-bottom: 2em}
.relative { position: relative}
.txt_right, .txt_right TD, .txt_right TH { text-align: right !important}
.txt_small { font: 85% Tahoma, Geneva, Arial, sans-serif}

/* Ads ---------------------------------------------------------------------------------------------------------------------------------------*/
#ads_footer_txt { border-top: 1px solid #C6C8CC; margin: 4em 0 0; padding-top: 1em; overflow: hidden;  width: 100%}
	#ads_footer_txt IFRAME { margin: 0 0 20px 10px}
#ads_mid { background: #ECEEF2; margin-bottom: 1em; overflow: hidden;  width: 100%}
	#ads_mid IFRAME { margin: 0 0 20px 10px}

.bnr_img { display: block; overflow: hidden; padding: 1em 0}		
	.sidebar .bnr_img { padding-top: 0}

	
/* Footer ------------------------------------------------------------------------------------------------------------------------------------*/
#footer { font: 85% Tahoma, Geneva, Arial, sans-serif; height: 12em; width: 760px}
	HTML>BODY #footer { margin-left: -380px; position: absolute; bottom: 0; left: 50%}
		#footer .list_inline LI { border-left: 1px solid #939FA6}
	#footer P { margin: 1em 0 2em}
		#footer A { color: #D9E5EC}
		#footer A:visited { color: #D9E5EC}
		#footer A:hover { color: #FFBF0D}
/* Clearers ----------------------------------------------------------------------------------------------------------------------------------*/
.cfx:after { clear: both; content: "."; display: block; font-size: 0; line-height: 0; height: 0; visibility: hidden}
.cfx { display: inline-block}
/* Hides from IE-mac \*/
* HTML .cfx { height: 1%}
.cfx { display: block}
/* End hide from IE Mac */

.clearer { clear: both}