OL { margin: 0 0 1em 0; padding: 0}
	OL LI { margin: .2em 0 0 1.5em}
UL { list-style:  url(/a/_projects/virtonomica/img/dtl-bullet.gif) outside; margin: 0 0 1em 20px; padding: 0}
	LI UL { margin: 0 0 0 20px}
	UL LI { padding: 0}
	
UL.actions { font: 85% Tahoma, Geneva, Arial, sans-serif; list-style-image: none; list-style-type: none; margin: 0; padding-bottom: 1em}
	UL.actions LI { float: left; position: relative; margin: 0 1em 0 0; padding: .3em 0; z-index: 10}
	UL.actions LI:hover, UL.actions .pc_hover { cursor: hand; cursor: pointer}
		UL.actions LI UL { border-bottom: 3px solid #C6C8CC; list-style-image: none; list-style-type: none; margin: 0; position: absolute; top: 1.5em; left: -999em; padding: 0; width: 180px}
		UL.actions LI:hover UL, UL.actions LI.pc_hover UL { left: 0}
			UL.actions LI LI { float: left; height: auto; padding: 0}
			UL.actions LI LI A { background: #E5E7EB; display: block; text-decoration: none; padding: 6px; width: 180px; width/**/:/**/ 168px}
			UL.actions LI LI A:hover { background: #DFE1E5}

TD.division UL { display: none}

.bread_crumbs { font: 85% Tahoma, Geneva, Arial, sans-serif; margin: 0; padding: 0}
	.bread_crumbs LI { display: inline; list-style: none; margin-left: 0; padding-left: .2em}		
		.bread_crumbs A, .bread_crumbs A:visited { background:  url(/a/_projects/virtonomica/img/dtl-arrow-forward-grey.gif) no-repeat right center; color: #869299; padding-right: 1.3em}
		.bread_crumbs A:hover { color: #337300}

.list_caption { margin-bottom: 0}
	
.list_icons H3 { background: #D2DEE5; padding: .3em; margin: 0}
.list_icons UL { list-style-image: none; list-style-type: none; margin: 0 0 1em; padding: 0}
	.list_unmarked UL LI { background: none; padding: 0}
		.list_icons LABEL { display: block; padding: .5em 0 .2em}
		.list_icons SPAN { padding-left: 1.5em}

.list_with_tt LI { position: relative; padding-top: .5em}	
		.list_with_tt LABEL { background-position: 23px 0; background-repeat: no-repeat !important; float: left; margin-right: 6px; padding: 8px 0 0 22px; position: relative; min-height: 24px; height: 32px; height/**/:/**/ 24px}
			HTML>BODY .list_with_tt LABEL { height: auto}
			.list_with_tt LABEL A { color: #465259; text-decoration: none}
			.list_with_tt INPUT { cursor: hand; cursor: pointer; position: absolute; top: 7px; left: 0; margin: 0 !important; width: auto !important}
		.list_with_tt .a_info { margin: 7px 0 0 !important}
			.list_with_tt .a_info:hover SPAN { bottom: 1em; left: 1em; width: 400px; width/**/:/**/ 368px}		
	
.list_inline { display: inline; margin: 0; padding: 0}
	.list_inline LI { border-left: 1px solid #000; display: inline; line-height: 160%; list-style: none; margin-left: -7px; padding: 0 8px 0 7px}
		HTML + HTML .list_inline LI, .border_l0 LI  { border-left: none}
		.list_inline LI.first { border-left: none !important}
.list_switch { list-style-image: none; list-style-type: none; margin: 0 0 0 -1px; padding: 0}		
	.list_switch LI { /*\*/ float: left;/* */ margin: 0; padding: 0}
		.list_switch LI A { display: block; text-decoration: underline; padding: .6em}
		
.list_unmarked { list-style-image: none; list-style-type: none; margin: 0 0 1em; padding: 0}
	.list_unmarked LI { background: none; padding: 0}
	
.path { color: #79858C; font: 85%/1.35em Tahoma, Geneva, Arial, sans-serif; list-style-image: none; list-style-type: none; margin: 0; padding: 1em 0}	
	.path LI { float: left; margin-right: .8em}
		.path A { color: #465259 !important}
		.path A, .path SPAN { background: url(/a/_projects/virtonomica/img/dtl-slash.gif) no-repeat right center; padding-right: 1em}
		.path LI.current { font-weight: bold}
		.path SPAN.last { background: transparent none}
			.path LI.current SPAN.last { background: url(/a/_projects/virtonomica/img/dtl-check.gif) no-repeat right top; color: #465259; padding-right: 1.9em}

.sidebar UL { list-style-image: none; list-style-type: none; margin: 0 0 1em}
	.sidebar LI { background: url(/a/_projects/virtonomica/img/dtl-arrow-forward-d-grey-s.gif) no-repeat 0 0; padding: 0 0 .3em 20px}
		.sidebar LI.current { background: url(/a/_projects/virtonomica/img/dtl-arrow-down-grey.gif) no-repeat 0 0}
			.sidebar LI.current A { color: #0073BF}
		.sidebar LI A { color: #465259}
		.sidebar LI UL { margin: 0}
		.sidebar LI LI { background: url(/a/_projects/virtonomica/img/dtl-bullet-grey.gif) no-repeat 0 0}
			.sidebar LI LI A { color: #0073BF}
			.sidebar LI LI.current { background: #0073BF; margin: .3em 0 0 16px; padding-left: .3em}
				.sidebar LI LI.current A { color: #FFF; cursor: text; text-decoration: none}

.star_rating { margin: 0; padding-bottom: 1em}
	/*.star_rating UL { background: url(/web-design/virtonomica/a/img/bg-rating-star.gif) repeat-x left top; float: left; list-style-image: none; list-style-type: none; margin: 0; padding: 0; position: relative; height: 20px; width: 100px}*/
	.star_rating P {  color: #919399; float: left; padding: .1em 0 0 .5em}
		.star_rating LI { /*\*/ float: left;/* */ margin: 0; padding: 0}
			.star_rating LI A { display: block; text-decoration: none; text-indent: -6400px; padding: 0; position: absolute; height: 20px; width: 20px}
			/*.star_rating LI A:hover, .one_star_rated, .two_stars_rated, .three_stars_rated, .four_stars_rated, .five_stars_rated { background: url(/web-design/virtonomica/a/img/bg-rating-star.gif) repeat-x left bottom; left: 0}*/
				.one_star { left: 0}
				.one_star:hover, .one_star_rated { width: 20px}
				.two_stars { left: 20px}
				.two_stars:hover, .two_stars_rated { width: 40px !important}
				.three_stars { left: 40px}
				.three_stars:hover, .three_stars_rated { width: 60px !important}
				.four_stars { left: 60px}	
				.four_stars:hover, .four_stars_rated { width: 80px !important}
				.five_stars { left: 80px}
				.five_stars:hover, .five_stars_rated { width: 100px !important}