#modal_box { background: #DFE1E5 url(/a/_projects/virtonomica/img/bg-modal.gif) repeat-x left top; border: 5px solid #FFF; color: #535559; display: none; font-family: Arial, Geneva, Helvetica, sans-serif; font-size: x-small; font-size/**/:/**/ small; line-height: 140%; text-align: left; margin-left: -230px; padding: 0 0 40px; overflow: auto; position: absolute; top: 40px; left: 50%; max-height: 80%; width: 460px; z-index: 64}
	#modal_box A, A:visited { color: #0080CC}
	#modal_box A:hover { color: #804000}
	#modal_box FORM { padding: 20px 20px 0}
	#modal_box #modal_box_h { background: #486CAE; color: #FFF; display: block; font-size: 100%; line-height: 40px; margin: 0 !important; padding: 0 15px; position: relative; height: 40px}
		#modal_box_h A { background:  url(/a/_projects/virtonomica/img/btn-close.gif) no-repeat left top; display: block; float: right; text-indent: -6400px; margin-top: -7px; position: absolute; top: 50%; right: 15px; height: 15px; width: 15px}
	#modal_box INPUT { float: left; margin-top: .6em; width: 266px}
		#modal_box A.btn { margin-left: 20px !important}
			* HTML #modal_box A.btn { margin-left: 10px !important}
		#modal_box INPUT.btn { margin-left: 120px !important}
			* HTML #modal_box INPUT.btn { margin-left: 82px}
	#modal_box LABEL { float: left; margin-top: .6em; padding: .2em 10px 0 0; width: 120px; width/**/:/**/ 110px}
	#modal_box P { margin: 0}
	#modal_box .a_info { background:  url(/a/_projects/virtonomica/img/dtl-question-on-grey.gif) no-repeat left center; margin-top: .6em}
		#modal_box .a_info:hover SPAN { margin-left: -256px; top: 1em; min-height: 5em}
	#modal_box .btn { background: transparent url(/a/_projects/virtonomica/img/btn-on-grey.gif) no-repeat center center}
	
	#form_signin UL { font: 85% Tahoma, Geneva, Arial, sans-serif; list-style-image: none; list-style-type: none; margin: 0 !important; padding: 2em 0 0 !important}
	#form_signin LI { float: left; padding: 0}
		#form_signin .f_right { font-weight: bold; margin: 0 0 1em}
		
	#modal_box H3, #modal_box P { padding: 1em 20px 0}
	#modal_box OL LI { margin-left: 3.1em}
	#modal_box UL { margin: 0 0 1em 40px; padding-right: 20px}
	
	#modal_box DIV.alert { background:  url(/a/_projects/virtonomica/img/bg-alert-on-grey.gif) no-repeat left top; display: none; text-indent: 0; margin-bottom: 1em; padding: 20px 0 0 !important; width: 400px}
		#modal_box DIV.alert P { background: #CCCED2 url(/a/_projects/virtonomica/img/dtl-alert-on-grey.gif) no-repeat 15px .2em; text-indent: 1.6em; padding: 0 15px 1em !important}
	
#overlay { background: #000; display: none; -moz-opacity: 0.6; opacity: .60; filter: alpha(opacity=60); position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 46}
	HTML>BODY #overlay { position: fixed}