@charset "UTF-8";
/*BASE*/
HTML { overflow-y: scroll}
HTML, BODY { height: 100%}
BODY { background: #3F4246 url(/a/_projects/reklama-vliftah32/img/bg.gif) repeat-x; color: #B8BBBF; font: 81.3%/1.54 Arial, Helvetica, sans-serif; text-align: center; margin: 0; padding: 0}

A { color: #59D9EA; outline: 0}
A:visited { color: #26A6B7}
A: hover { color: #FC0}
A:link { -webkit-tap-highlight-color: #FF5E99} 
ABBR, BLOCKQUOTE, FIELDSET, FORM, IFRAME, LABEL, LEGEND, OBJECT, PRE, 
ARTICLE, ASIDE, CANVAS, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION, SUMMARY, TIME, AUDIO, VIDEO
{ background: transparent; border: 0 none; outline: 0; margin: 0; padding: 0; vertical-align: baseline}
ABBR[title], DFN[title] { border-bottom: 1px dotted; cursor: help}
ADDRESS { font-style: normal}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION { display: block}
CODE, KBD, PRE { font: 110% "Courier New", Courier, monospace}
EM { color:  #AAA58F; font-style: normal}
H1, H2, H3 { text-shadow: 0 1px 1px #2A2B2E; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#2A2B2E', Positive='0')}
H1 { color: #AAA58F; font-size: 261.5%; font-weight: normal; line-height: 1; margin: 0; padding: 28px 0 20px}
	#front H1 { font-size: 423.1%; font-weight: bold; letter-spacing: -.06em; text-transform: uppercase; margin: .909em 0 .31em -.055em; padding: 0}
    H1 .tight { letter-spacing: -.09em}
H2 { font-size: 161.5%; font-weight: normal; line-height: 1.429; margin: 0; padding: 1.524em 0 .762em}
	H2 STRONG { color: #AAA58F; font-weight: normal; text-transform: none}
H3, .h3 { font-size: 100%; text-transform: uppercase; margin: 0}
HR { border: none 0; border-bottom: 1px solid #CCCFD3; height: 1px; display: block; margin: 1.5em 0; padding: 0} 
IMG { border: 0}
	IMG.left { margin: 2px 40px 16px 0}
    IMG.right { margin: 2px 0 16px 40px}
P, DL, OL, UL { text-shadow: 0 -1px 0 #24272B; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color='#24272B', Positive='0')}
P { margin: 0 0 1.54em}
STRONG { text-transform: uppercase}

DL, DD { margin: 0 0 1.54em}
    DT { margin: 0}
OL, UL { margin: 0 0 1.54em; padding: 0}
	OL OL, UL OL { margin: 0 0 0 1.54em}
	OL UL, UL UL { margin-bottom: 0}
    UL UL { list-style: circle}

UL { list-style-image: url(/a/_projects/reklama-vliftah32/img/b.gif)}
NAV UL { list-style-image: none; list-style-type: none}

UL.inline { list-style-image: none; list-style-type: none}
    UL.inline LI { display: inline; margin-left: .3em}
        UL.inline LI:after { content: ","}
        UL.inline .last:after { content: ""}

::-moz-selection{ background: #1B1E22; color: #FFF; text-shadow: none}
::selection { background: #1B1E22; color: #FFF; text-shadow: none} 

/*LAYOUT*/
#container { text-align: left; position: relative; margin: 0 auto; min-height: 100%; height: 100%; width: 920px}
	HTML>BODY #container { height: auto}
    .fluid { max-width: 104.6em; width: 90%} /*1360px*/
    #content { padding: 0 0 315px 240px}
    	#content P, #content OL, #content UL, #content .cols { padding-right: 240px}
        #content .col1_4, #content .col4_4 { padding-right: 0}

/* Columns */
/* Inner columns set by column-count/column-gap*/
.col1_2 { float: left; width: 440px}
.col2_2, .colspan2_4 { float: right; width: 440px}
.col1_4, .col2_4, .col3_4 { float: left; margin-right: 40px; width: 200px}
.col4_4 { float: right; width: 200px}
/* custom columns */
.body { column-count: 2; -moz-column-count: 2; -webkit-column-count: 2; column-gap: 40px; -moz-column-gap: 40px; -webkit-column-gap: 40px}

/* Clearing ------------------------------------------------------------------------------------------------------------------*/
.cfx:after { clear: both; content: ""; display: block; font-size: 0; visibility: hidden; height: 0}
.cfx { zoom: 1}

/*HEADER*/
#header { padding: 9px 0 0; height: 134px; width: 920px}

#header H1 { float: left; margin: 0 30px 0 0; padding: 0; height: 95px; width: 200px}
	#header H1 A { background: url(/a/_projects/reklama-vliftah32/img/base-graphics.png) -80px 0 no-repeat; display: block; text-indent: -4300em; height: 95px; width: 200px}
    #front #header H1 A { cursor: default}

#header .tel { float: right; ; padding-top: 7px}

/* Main menu */
#header NAV { padding: 44px 0 0}

#header NAV UL { margin: 0; padding: 0}
	#header NAV LI { float: left}
		#header NAV A { color: #AAA58F; display: block; float: left; font-weight: bold; text-decoration: none; text-shadow: 0 -1px 0 #000; text-transform: uppercase; margin-right: 0; padding: 12px 9px 8px 10px}
            #header NAV A:hover, #services  #m_services A, #prices  #m_prices A, #areas  #m_areas A, #examples  #m_examples A, #clients  #m_clients A
            { background: #24272B; background: rgba(36, 39, 43, 0.4); border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: inset 0 1px 1px #393C40; -moz-box-shadow: inset 0 1px 1px #393C40; -webkit-box-shadow: inset 0 1px 1px #393C40}
			#services  #m_services A, #prices  #m_prices A, #areas  #m_areas A, #examples  #m_examples A, #clients  #m_clients A
            { cursor: default}

/*FOOTER*/
#footer { background: url(/a/_projects/reklama-vliftah32/img/hr.gif) repeat-x; margin: 0 0 0 -460px; padding: 36px 240px 0; position: absolute; bottom: 0; left: 50%; height: 225px; width: 440px}

#footer H3 { color: #AAA58F; text-transform: none}
#footer A { text-decoration: none}
#footer A:visited { color: #59D9EA}

#footer .col1_4 { padding-top: 10px}
	#footer .tel { padding: 14px 0 1px 0}

#footer .col4_4 { background: url(/a/_projects/reklama-vliftah32/img/base-graphics.png) -320px 0 no-repeat; display: block; text-shadow: 0 1px 1px #313437; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#313437', Positive='0'); padding: 10px 0 0 20px; height: 50px; width: 180px}

/*CONTENT*/
.closed { display: none}
:disabled, .disabled { cursor: default; filter: alpha(opacity=43); -moz-opacity: .43; opacity: .43}
.ico { background-repeat: no-repeat; display: block; direction: ltr; text-align: left; text-indent: -3400em; overflow: hidden}
.hp { margin-left: -.381em} /*hanging punctuation */

.left { float: left}
.right { float: right}

.note { color: #888B8F}
.nowrap { white-space: nowrap}
.tel { color: #B8BBBF; display: block; cursor: default; text-decoration: none; text-shadow: 0 1px 1px #1B1E22}
	.tel EM { color: #FC0; font: normal 161.5% Georgia, "Times New Roman", Times, serif}

/*TABLES*/
TABLE { background: #3F4246; border: 0 none; border-spacing: 0; border-collapse: collapse; empty-cells: show; line-height: normal; text-align: left; margin: 0 auto 2.385em; table-layout: fixed; width: 100%}
	CAPTION { font-weight: bold; text-align: left; text-shadow: 0 1px 1px #2A2B2E; padding: .154em 0 1.035em 11px}
	THEAD { background: #383B3F}
    	THEAD .first TH { background: none; padding-bottom: 0}
	TBODY TR:nth-child(even) { background: #46494D}
	TD, TH { background: url(/a/_projects/reklama-vliftah32/img/hr.gif) repeat-x 0 100%; font-size: 100%; font-weight: normal; line-height: 1.54; text-shadow: 0 -1px 0 #24272B; vertical-align: top; padding: 5px 10px 15px}
    	TD B, TH B, .total { color:  #AAA58F; font-weight: normal}
        .last TD, .last TH { background: #3F4246 none}
    TFOOT B { color: #FC0; font-weight: normal}
    TFOOT TD, TFOOT TH, .tfoot TD, .tfoot TH { background: transparent none}
    
    .num { text-align: right; white-space: nowrap}

/*CUSTOMS*/
#front #content, #areas #content { padding: 0 0 315px}
	#areas #content H1 { padding-left: 240px}
#front H2 { padding: 0 0 .857em}
#front #content P, #front #content OL, #front #content UL { padding: 0}

#benefits LI { margin-bottom: 1.54em}
.billboard { padding-bottom: 4em}
	.billboard IMG { float: right}
#front #content { background: url(/a/_projects/reklama-vliftah32/img/bg-front.png) no-repeat 100% 317px}
#front .tbn { margin: 0 0 2.692em}

#front TABLE { margin: 0}
#front TD, #front TH { padding: 5px 0 15px}
#front TD { text-align: right; white-space: nowrap}
#front .thead TD, #front .thead TH { padding-top: 0}
#front TR:nth-child(even) { background: transparent}

#prices TABLE, #services TABLE { margin: 0 -10px 2.385em -10px}
#prices TD, #prices TH, #services TD, #services TH { text-align: center}

#services CAPTION, #areas CAPTION { color: #FC0}

#areas CAPTION { margin-left: 31px}
.address { width: 68%}
.count { text-align: right; white-space: nowrap; width: 7%}
#map { margin-bottom: 2.231em}
.qty { width: 68%}

/*MODAL BOX*/
#modal_box { display: none; text-align: center; position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 43}
	#modal_box .single .figcaption { background: #323539; background: -moz-linear-gradient(#24272B, #3F4246) no-repeat;  background: -webkit-gradient(linear, 0 0, 0 100%, from(#323539), to(#323539)) no-repeat; color: #B8BBBF; font-size: 13px; font-weight: bold; line-height: 36px; text-align: left; text-shadow: 0 1px 1px #1B1E22; filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#1B1E22', Positive='0'); margin-left: -208px; padding: 4px 40px 0 20px; position: absolute; top: 70px; left: 50%; height: 36px; width: 356px}
	#modal_box .header { margin: 60px auto 0; position: relative; height: 40px; width: 640px}
        #modal_box .close { background: #FCC url(/a/_projects/reklama-vliftah32/img/base-graphics.png) no-repeat -560px 0; border: 0 none; cursor: pointer; display: block; text-indent: -4300em; position: absolute; top: 14px; right: 20px; height: 15px; width: 15px; z-index: 2}

#modal_box .single { background: #393C40; border: 10px solid #393C40; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; margin: 60px auto 0; padding: 40px 0 0; width: 416px}
	#modal_box .single IMG { display: block; width: 416px}
    
#overlay { background: #000; display: none; -moz-opacity: 0.64; opacity: .64; filter: alpha(opacity=64); position: fixed; top: 0; left:0; height: 100%; width: 100%; z-index: 34}

/*GALLERY*/
.gallery { position: relative}
.tbns { list-style-image: none; list-style-type: none; margin: 0; padding: 0 !important; position: absolute; top: 0; left: -240px; width: 200px}
	.tbns LI { margin-bottom: 14px}
    	.tbns IMG, .tbn, .gallery FIGURE IMG { border: 12px solid #323539; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: 0 1px 1px #393C40; -moz-box-shadow: 0 1px 1px #393C40; -webkit-box-shadow: 0 1px 1px #393C40}
        
.gallery FIGURE { min-height: 400px; height: 400px}
	HTML>BODY .gallery FIGURE { height: auto}
    .gallery FIGURE IMG { width: 416px}

/*HACKS*/
/* Firefox */
BUTTON::-moz-focus-inner { border: 0 none} /* overrides extra padding and dotted outline */
@-moz-document url-prefix() {
H1 { letter-spacing: -.04em}
	H1 .tight { letter-spacing: -.06em}
}

/* IE */
/*
*HTML, _property — IE6
*+HTML — IE7
*property — IE6, IE7
*/
/*hasLayout — advanced*/
.gallery, .warning { *display: inline; zoom: 1} 


 #clients UL { *margin-left: 18px; _margin-left: 10px}
H1 { *letter-spacing: -.1em}
	#front H1 { *letter-spacing: -.2em}
		#front H1 .tight { *letter-spacing: -.4em}
.hp { *margin-left: 0}
*+HTML IMG { -ms-interpolation-mode: bicubic}
OL, OL OL, UL OL { *margin-left: 1.77em}
.tbns, #clients UL { filter:progid:DXImageTransform.Microsoft.dropshadow(enabled='false'); overflow: visible; zoom: 1}
THEAD TH, THEAD TD { *background: #383B3F url(/a/_projects/reklama-vliftah32/img/hr.gif) repeat-x 0 100%}
	THEAD .first TH { *background: #383B3F}

/*PRINT*/
@media print {
* { background: transparent !important; color: #444 !important; text-shadow: none !important}
@page { margin: .5cm} /*http://www.w3.org/TR/CSS21/page.html#page-box*/
A, A:visited { color: #444 !important; text-decoration: underline}
A:after { content: " (" attr(href) ")"}
ASIDE, FOOTER, NAV { display: none}
ABBR:after { content: " (" attr(title) ")"}
BLOCKQUOTE, PRE { border: 1px solid #999; page-break-inside: avoid}
H2, H3 { page-break-after: avoid}
H2, H3, P { orphans: 3; widows: 3}
IMG, TR { page-break-inside: avoid}
THEAD { display: table-header-group} 

#header, #header H1, #header H1 A { height: auto; width: auto}
#header H1, #header .tel { float: none}
	#header H1 A { background: transparent none; display: inline; text-indent: 0}
    #header H1 A:after, #header .tel:after { content: ""}
}