<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Анкета на разработку слогана</title>

<link rel="stylesheet" href="/labs/a/css/briefs.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<form action="">

<h1>Разработка слогана - анкета</h1>

<!--<ul>
<li>Сформулируйте свои требования и пожелания: они помогут достичь максимального соответствия вашим ожиданиям.</li>
<li>Отвечать на все вопросы необязательно, но желательно (причем &mdash; как можно подробнее), а если что-то будет непонятно, <a href="mailto:polylog@polylog.ru">пишите нам</a> - разъясним.</li>
<li>Все, что вы сообщите, останется строго конфиденциально.</li>
<li>Заполненную анкету <a href="mailto:polylog@polylog.ru">присылайте электронной почтой</a>.
</li>
</ul>

<fieldset>
<legend>Ваша компания</legend>

<label for="company-name">Полное название компании <span>(торговой марки, проекта)</span></label>
<textarea name="company-name" cols="46" rows="4" id="company-name"></textarea>
<br />

<label for="business-field">Сфера деятельности</label>
<textarea cols="46" rows="4" name="business-field" id="business-field"></textarea><br />

<label for="products">Основные характеристики товаров и услуг</label>
<textarea cols="46" rows="4" name="products" id="products"></textarea><br />

<label for="prospect">Характерные черты вашего потенциального клиента <span>(результаты исследований или ваше представление)</span></label>
<textarea cols="46" rows="4" name="prospect" id="prospect"></textarea><br />

<label for="position">Объективное положение вашей компании на российском рынке</label>
<textarea cols="46" rows="4" name="position" id="position"></textarea><br />

<label for="competitors">Перечислите основных конкурентов <span>(желательно с адресом сайта в интернете)</span></label>
<textarea cols="46" rows="4" name="competitors" id="competitors"></textarea><br />
</fieldset>

<fieldset>
<legend>Ваши пожелания</legend>-->

<label for="purpose">Основная идея слогана, его цель</label>
<textarea cols="46" rows="4" name="purpose" id="purpose"></textarea><br />

<label for="overview">Общая характеристика товара <span>(если слоган не корпоративный)</span></label>
<textarea cols="46" rows="4" name="overview" id="overview"></textarea><br />

<label for="existing">Существующий слоган <span>(его преимущества, недостатки)</span></label>
<textarea cols="46" rows="4" name="existing" id="existing"></textarea><br />

<label for="favourites">Примеры понравившихся слоганов</label>
<textarea cols="46" rows="4" name="favourites" id="favourites"></textarea><br />

<label for="target-audience">Целевая аудитория</label>
<textarea cols="46" rows="4" name="target-audience" id="target-audience"></textarea><br />

<label for="dead-line">Срок выполнения заказа</label>
<textarea cols="46" rows="4" name="dead-line" id="dead-line"></textarea><br />

<label for="comments">Дополнительные комментарии</label>
<textarea cols="46" rows="4" name="comments" id="comments"></textarea><br />
<!--</fieldset>

<fieldset>
<legend>Контактная информация</legend>

<label for="full-name">Ф. И. О.</label>
<textarea cols="46" rows="4" name="full-name" id="full-name"></textarea><br />

<label for="phone">Телефон</label>
<textarea cols="46" rows="4" name="phone" id="phone"></textarea><br />

<label for="email">Эл. почта</label>
<textarea cols="46" rows="4" name="email" id="email"></textarea><br />

<label for="address">Почтовый адрес компании</label>
<textarea cols="46" rows="4" name="address" id="address"></textarea><br />
</fieldset>-->

</form>
</body>
</html>
