<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Анкета на разработку веб-сайта</title>

<link rel="stylesheet" href="/labs/a/css/briefs.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<form action="">

<h1>Разработка веб-сайта - анкета</h1>

<!--<ul>
<li>Сформулируйте свои требования и пожелания: они помогут достичь максимального соответствия вашим ожиданиям.</li>
<li>Отвечать на все вопросы необязательно, но желательно (причем &mdash; как можно подробнее), а если что-то будет непонятно, <a href="mailto:polylog@polylog.ru">пишите нам</a> - разъясним.</li>
<li>Все, что вы сообщите, останется строго конфиденциально.</li>
<li>Заполненную анкету <a href="mailto:polylog@polylog.ru">присылайте электронной почтой</a>.
</li>
</ul>

<fieldset>
<legend>Ваша компания</legend>

<label for="company-name">Полное название компании <span>(торговой марки, проекта)</span></label>
<textarea name="company-name" cols="46" rows="4" id="company-name"></textarea>
<br />

<label for="business-field">Сфера деятельности</label>
<textarea cols="46" rows="4" name="business-field" id="business-field"></textarea><br />

<label for="products">Основные характеристики товаров и услуг</label>
<textarea cols="46" rows="4" name="products" id="products"></textarea><br />

<label for="prospect">Характерные черты вашего потенциального клиента <span>(результаты исследований или ваше представление)</span></label>
<textarea cols="46" rows="4" name="prospect" id="prospect"></textarea><br />

<label for="position">Объективное положение вашей компании на российском рынке</label>
<textarea cols="46" rows="4" name="position" id="position"></textarea><br />

<label for="competitors">Перечислите основных конкурентов <span>(желательно с адресом сайта в интернете)</span></label>
<textarea cols="46" rows="4" name="competitors" id="competitors"></textarea><br />
</fieldset>-->

<fieldset>
<legend>Структура и содержание</legend>

<label for="old-site">Старый сайт</label>
<textarea cols="46" rows="4" name="old-site" id="old-site"></textarea><br />

<label>Цель создания нового сайта</label>
<ul>
<li><input name="corporate" type="checkbox" id="corporate" /><label for="corporate">Рекламно-информационная для компании в целом</label></li>
<li><input type="checkbox" name="promo-site" id="promo-site" /><label for="promo-site">Реклама отдельного продукта или услуги</label></li>
<li><input type="checkbox" name="e-commerce" id="e-commerce" /><label for="e-commerce">Продажа в интернете товаров или услуг</label></li>
</ul><br />

<label for="structural-design">Укажите основные предполагаемые разделы сайта <span>(навание раздела - его предполагаемое содержание - возможные подразделы)</span></label>
<textarea cols="46" rows="4" name="structural-design" id="structural-design"></textarea><br />

<label>Укажите необходимые на ваш взгляд программные компоненты <span>(и, если нужно, прокомментируйте свой выбор)</span></label>
<ul>
<li><input type="checkbox" name="news" id="news" /><label for="news">Новости</label></li>
<li><input type="checkbox" name="promo" id="promo" /><label for="promo">Промо-блоки</label></li>
<li><input type="checkbox" name="signing" id="signing" /><label for="signing">Регистрация / авторизация посетителей</label></li>
<li><input type="checkbox" name="store" id="store" /><label for="store">Интернет-магазин</label></li>
<li><input type="checkbox" name="directory" id="directory" /><label for="directory">Каталог</label></li>
<li><input type="checkbox" name="search" id="search" /><label for="search">Поиск</label></li>
<li><input type="checkbox" name="newsletter" id="newsletter" /><label for="newsletter">Почтовая рассылка</label></li>
<li><input type="checkbox" name="feedback" id="feedback" /><label for="feedback">Форма обратной связи</label></li>
</ul><br />

<label for="languages">Языковые версии сайта</label>
<textarea cols="46" rows="4" name="languages" id="languages"></textarea><br />
</fieldset>

<fieldset>
<legend>Дизайн</legend>

<label for="old-logo">Есть ли у логотип, который нужно использовать в дизайне?*</label>
<textarea cols="46" rows="4" name="old-logo" id="old-logo"></textarea><br />

<label for="brand-book">Есть ли у вас описание фирменного стиля (брендбук)?</label>
<textarea cols="46" rows="4" name="brand-book" id="brand-book"></textarea><br />

<label for="colors">Пожелания по цветовой гамме <span>(на случай отсутствия брендбука; формулировки произвольные; можно указать адреса сайтов, гаммы которых вам кажутся привлекательными)</span></label>
<textarea cols="46" rows="4" name="colors" id="colors"></textarea><br />

<label for="favourites">Перечислите сайты, которые вам нравятся. Постарайтесь объяснить, почему</label>
<textarea cols="46" rows="4" name="favourites" id="favourites"></textarea><br />

<label for="impression">Какое впечатление должен производить сайт на посетителя</label>
<textarea cols="46" rows="4" name="impression" id="impression"></textarea><br />

<label for="flash">Нужна ли flash-анимация?</label>
<textarea cols="46" rows="4" name="flash" id="flash"></textarea><br />

<label for="inadmissible">Что вы категорически не приемлете в дизайне</label>
<textarea cols="46" rows="4" name="inadmissible" id="inadmissible"></textarea><br />
</fieldset>

<fieldset>
<legend>Дополнительно</legend>

<label for="dead-line">Срок выполнения заказа</label>
<textarea cols="46" rows="4" name="dead-line" id="dead-line"></textarea><br />

<label>Требуется ли</label>
<ul>
<li><input type="checkbox" name="domain" id="domain" /><label for="domain">Подбор и регистрация доменного имени</label></li>
<li><input type="checkbox" name="hosting" id="hosting" /><label for="hosting">Хостинг (размещение сайта на сервере специализированной компании)</label></li>
<li><input type="checkbox" name="content" id="content" /><label for="content">Написание текстов</label></li>
<li class="comments"><input type="checkbox" name="spin" id="spin" /><label for="spin">Продвижение сайта (укажите ключевые слова и выражения, по которым поисковые машины должны находить ваш сайт)</label></li>
</ul><br />

<label>Требуется ли ежемесячная поддержка сайта в следующем объеме</label>
<ul>
<li><input type="checkbox" name="maintenance" id="maintenance" /><label for="maintenance">Разработка дополнительных и актуализация существующих страниц сайта</label></li>
<li><input type="checkbox" name="journalism" id="journalism" /><label for="journalism">Редактирование старых и написание новых текстов</label></li>
<li><input type="checkbox" name="translation" id="translation" /><label for="translation">Перевод текстов на иностранные языки</label></li>
<li><input type="checkbox" name="optimization" id="optimization" /><label for="optimization">Подготовка новых иллюстраций к публикации в интернете</label></li>
<li><input type="checkbox" name="programming" id="programming" /><label for="programming">Управление и поддержка программируемых элементов сайта: каталоги, новости</label></li>
</ul><br />

<label for="comments">Дополнительные комментарии</label>
<textarea cols="46" rows="4" name="comments" id="comments"></textarea><br />
</fieldset>

<!--<fieldset>
<legend>Контактная информация</legend>

<label for="full-name">Ф. И. О.</label>
<textarea cols="46" rows="4" name="full-name" id="full-name"></textarea><br />

<label for="phone">Телефон</label>
<textarea cols="46" rows="4" name="phone" id="phone"></textarea><br />

<label for="email">Эл. почта</label>
<textarea cols="46" rows="4" name="email" id="email"></textarea><br />

<label for="address">Почтовый адрес компании</label>
<textarea cols="46" rows="4" name="address" id="address"></textarea><br />
</fieldset>-->

<p class="comments">* Текущий логотип и брендбук необходимо выслать в приложении к письму с заполненной анкетой, или вызвать курьера от нашей фирмы.</p>
</form>
</body>
</html>
