#a_signin { background:   url("/a/_projects/pari-match/sportsbook/img/en/btn_signin.gif"); width: 28px}
#a_signup { background:   url("/a/_projects/pari-match/sportsbook/img/en/btn_signup.gif"); width: 71px}
#a_bookmaker { background:   url("/a/_projects/pari-match/sportsbook/img/en/btn_bookmaker.gif"); width: 65px}
#a_casino { background:   url("/a/_projects/pari-match/sportsbook/img/en/btn_casino.gif"); width: 37px}
#a_poker { background:   url("/a/_projects/pari-match/sportsbook/img/en/btn_poker.gif"); width: 34px}

#a_help { background:  url("/a/_projects/pari-match/sportsbook/img/en/btn_help.gif")}
#a_news { background:  url("/a/_projects/pari-match/sportsbook/img/en/btn_news.gif")}

#nav_top .locked { background:  url("/a/_projects/pari-match/sportsbook/img/en/btn_account_lock.gif")}
#nav_top .trigger, #nav_top .trigger-open { background:  url("/a/_projects/pari-match/sportsbook/img/en/btn_account.gif")}

#nav_bets H3 { background:  url("/a/_projects/pari-match/sportsbook/img/en/caption_betting.gif")}

.popular CAPTION STRONG { background:  url("/a/_projects/pari-match/sportsbook/img/en/caption_popular.gif")}

.btns { width: 88px}