@charset "UTF-8";
.aside { float: right; margin-right: 40px; padding-top: 30px; position: relative; width: 240px}

.aside H2 { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat 0 -1020px; margin: 0; padding: 24px 30px 13px}
	.aside H2.free { background: none; margin: 39px 0 0}
	.aside H2 A { color: #BBBEC2}
    	.aside H2 A:hover { color: #FC0}
	.aside H2 A, .aside .nav A { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat 100% -1159px; display: block}
.aside .nav { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -270px 100%; list-style-image: none; list-style-type: none; margin: 0 0 40px; padding: 0 0 22px}
	.aside .nav LI { padding: 0 30px}
    	.aside .nav LI.first { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat 0 -1020px; padding: 24px 30px 0}
        .aside .nav .active A {  background-position: 100% -1219px; color: #FC0; cursor: default; text-decoration: none}
        .aside .nav .last_in_group {  margin-bottom: 1.5em}
        .sign_out A { background-position: 100% -1189px; color: #F66 !important}

.aside .teaser { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -270px 100%; list-style-image: none; list-style-type: none; margin: 40px 0 0; padding: 0 0 30px}
.aside DL { margin: 0}
    .aside DT { clear: both; color: #FC0; text-align: right; margin: 0; padding: 0 30px}
        .aside .teaser DT SPAN { color: #BBBEC2; float: left; text-align: left}
	.aside DD { margin: 0 0 .4em; padding: 0 30px}
	
    .aside .on_demand_stack { background: #212428; padding: 0 30px 1em; width: 180px}
		.aside .on_demand_stack H3 { color: #FC0; margin-bottom: 0}
			.aside .on_demand_stack H4 { margin: .4em 0 0}
			.aside .on_demand_stack P, .aside .on_demand_stack UL { margin-bottom: .4em}

.aside UL.free { list-style-image: none; list-style-type: none; margin: 0; padding: 0 30px}

#f_slip { background: #212428; font-size: 11px; margin-bottom: 40px; position: relative}
	#f_slip H2 { font-size: 163.6%; }
	#f_slip H3 { padding: 0 30px}

#f_slip INPUT.txt { border-color: #B5B7BB; display: inline; text-align: right; padding: 1px 2px 2px; margin: -2px 0 0 .2em; width: 44px}
#f_slip LABEL { color: #FC0; padding: 0 30px; position: relative}
    #f_slip LABEL .cbx { position: absolute; top: 0; left: 7px}
#f_slip	BUTTON.close { position: absolute; top: 1px; right: 10px}
#f_slip DIV { text-align: right; padding: 0 10px 0 30px}
    #f_slip DIV .first { float: left}
    #f_slip DIV LABEL { color: #BBBEC2; display: inline-block; padding: 0}
	
#f_slip .alert { background: transparent url(/a/_projects/betplaynow/img/grey.png) no-repeat -800px  100%; margin: 0; padding: 0 0 10px; position: absolute; bottom: 22px; left: 4px; width: 232px; z-index: 4}
	#f_slip .alert .btn { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat 100% -1110px}
		#f_slip .alert .btn STRONG { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -1050px -1070px}
    #f_slip .alert DIV { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -540px  -1020px; text-align: left; padding: 10px 15px 0 26px; width: 191px}
    	#f_slip .alert P { padding-right: 40px; position: relative}
			#f_slip .alert EM { top: 0; right: 0; left: auto}

#f_slip .bet_history, #f_slip .bet_history UL { list-style-image: none; list-style-type: none; margin: 0; padding: 0}
#f_slip .bet_history UL LI { padding: 0 30px}
#f_slip .bet_history .bet { background: url(/a/_projects/betplaynow/img/yellow.png)  10px -106px no-repeat; color: #FC0}

#f_slip FIELDSET.batch_controls LABEL { color: #BBBEC2; display: inline-block; padding: 0 0 2px 30px}
#f_slip FIELDSET.batch_controls BUTTON.close { font-size: 11px; text-indent: 0; padding: 1px 18px 0 0; width: auto}

#f_slip FIELDSET.multiples {  background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -800px  100%; margin-left: 4px; padding: 0 0 5px;  width: 232px}
#f_slip FIELDSET.multiples H3 { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -540px -1020px; font-weight: normal; margin: 0; padding: .55em 6px 0 26px}
#f_slip FIELDSET.multiples .view { position: absolute; top: 7px; right: 6px}
#f_slip FIELDSET.multiples DIV { text-align: left; padding: 7px 6px 3px 26px}
        #f_slip FIELDSET.multiples LABEL { padding: 0}

#f_slip.disabled { filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1}
	#f_slip.disabled FIELDSET { -moz-opacity: .43; opacity: .43}

#f_slip .total { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -270px 100%; padding: 1.36em 15px 10px 30px}
#f_slip DIV.total { text-align: left; padding-bottom: 30px}
#f_slip .total TABLE { border: 0 none}
#f_slip .total TH, #f_slip .total TD { vertical-align: top}
#f_slip .total TH { text-align: left}
        #f_slip .total TH SPAN { display: block}
#f_slip .total TD { color: #FC0; text-align: right; padding-right: 0}
#f_slip .total BUTTON, #f_slip .total .btnб , #f_slip .alert .btn { font-size: 13px}

#f_slip .steps { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -270px 100%; color: #FC0; font-size: 118.2%; padding: 0 30px 30px}
	#f_slip .steps P { color: #BBBEC2; margin-bottom: .4em}
