@charset "UTF-8";
/* Tabs ------------------------------------------------------------------------------------------------------------------*/
.pane { display: none}

.tabs { list-style-image: none; list-style-type: none; margin: 0; height: 29px; width: 99%}
	.tabs LI, .tabs A {  background: url(/a/_projects/betplaynow/img/grey.png); display: block; float: left}
    .tabs LI { background-position: 100% -350px; margin: 0 1px 0 0; padding-right: 15px; height: 29px}
    	.tabs A {  background-position: 0 -310px; color: #BBBEC2; line-height: 29px; text-decoration: none; padding-left: 15px; height: 29px}
	.tabs LI:hover, .tabs .current { background-position: 100% -270px}
    	.tabs LI:hover A, .tabs .current A { background-position: 0 -230px}
   
/* Collapsible panels --------------------------------------------------------------------------------------------------------*/
.closed BUTTON, .closed DIV, .closed UL { display: none}
.closed BUTTON.view { display: block}
.on_demand H3, .on_demand_stack H3 { cursor: pointer; position: relative}

.more_ico { color: #BBBEC2; padding-right: 20px; position: relative}
	.panes .more_ico { float: right}
.more_ico EM, .on_demand H3 EM, .on_demand_stack H3 EM, .on_demand_stack H3.current EM { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat -1110px -1020px; display: block; text-indent: -4300em; position: absolute} 
	.on_demand H3 EM, .on_demand_stack H3 EM { top: 4px; left: -14px; height: 10px; width: 10px}
    .on_demand_stack H3 EM {  background-position: -1130px -1020px} 
		#f_slip .on_demand H3 EM { top: 10px; left: 9px}
	.closed H3 EM { background-position: -1130px -1020px}
    .more_ico EM { background-position: -1150px -1020px; margin-top: -7px; top: 50%; right: 0; height: 14px; width: 14px}

/* Slideshow - banners ------------------------------------------------------------------------------------------------------*/
.ads { position: relative; height: 120px; width: 240px}
	.ads A { display: none; position: absolute; top: 0; left: 0;	 height: 120px}
    
/* Validator ---------------------------------------------------------------------------------------------------------------*/

.f_error { padding-bottom: 13px; position: absolute; top: 300px; left: 300px; z-index: 4300}
	.f_error_content { background: #FC0; border: 3px solid #FFF; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 0 4px #000; -moz-box-shadow: 0 0 4px #000; -webkit-box-shadow: 0 0 4px #000; color: #41360D; cursor: pointer; padding: 10px; width: 150px}
		.green_popup .f_error_content { background: #3C3; color: #1C3411}
		.black_popup .f_error_content { background: #212428; color: #BBBEC2}

.f_error .f_error_arrow { background: url(/a/_projects/betplaynow/img/yellow.png) no-repeat 0 -150px; position: absolute; bottom: 1px; left: 20px; height: 15px; width: 23px; z-index: 4300}
	.f_error .f_error_arrow_bottom { margin: -6px; top: 0}
    .green_popup .f_error_arrow { background-position: -30px -150px}
    .black_popup .f_error_arrow { background-position: -60px -150px}

.ajax_submit {  display: none; padding: 20px; background-color: #4CE54C}
  
/* Calendar / Date picker ----------------------------------------------------------------------------------------------------*/
#dp_div { background: #2A2C30; border: 1px solid #474A4D; display: none; text-align: center; padding: 0 24px 20px 20px; left: 0; z-index: 100}
    #dp_div A { cursor: pointer; text-decoration: none}

.dp_control { display: none}
.dp_links { position: absolute; top: 0; left: 0}
	.dp_current { display: none}
    .dp_prev, .dp_next { position: absolute; top: 5px; height: 16px; width: 16px; z-index: 100}
    	.dp_prev A, .dp_next A { background: url(/a/_projects/betplaynow/img/grey.png) no-repeat; display: block; text-indent: -4300em; height: 20px; width: 20px}
		.dp_prev A { background-position: -1240px -1020px}
		.dp_next A { background-position: -1270px -1020px}
	.dp_prev { top: 6px; left: 10px}
	.dp_next { top: 6px; right: 14px}

.dp_header { font: 85% Tahoma, Geneva, Arial, sans-serif; padding: 4px 0 6px; min-height: 1.75em}
	.dp_header SELECT { display: inline; font-size: 100%; margin: .4em .2em .2em}
	.dp_header SPAN { position: relative; top: 3px}

.dp_one_month { float: left; width: 15em}
.dp_new_row { clear: left}

.dp { border: 0 none; margin: 0}
.dp, .dp_control, .dp_links, .dp_header { clear: both; color: #FFF; float: left; width: 100%}
		.dp THEAD TH { color: #FC0; font-weight: bold}
    .dp TD, .dp TH { border-right: none; text-align: center; padding: 6px}
        .dp A { display: block; color: #BBBEC2; width: 100%}
		.dp_today, .dp_days_cell_over { background: #43464A}
		.dp_current_day, .dp_current_day A { background: #BBBEC2; color: #2A2C30 !important}
.dp_disabled { background: #2A2C30; filter: alpha(opacity=50); -moz-opacity: .5; opacity: .5; position: absolute; z-index: 100}

