HTML { overflow-y: scroll}
HTML, BODY { height: 100%}

#container { background: url(/a/_projects/epcc/img/bg-container.png) 50% 200px no-repeat; text-align: left; position: relative; margin: 0 auto; min-height: 100%; height: 100%; width: 100%}
	HTML>BODY #container { height: auto}
    #content { margin: 0 auto; padding-bottom: 220px; max-width: 920px; min-width: 740px; width: 100%}
    	.ie6 #content { width: 920px}

/* Columns and rows */
/* For max-width: 920px; margin-left: 40px; columns width: oo4 — 200px; oo3 — 280px; oo2_box — 438px; oo2 — 440px;oo3 — 600px*/
.row { width: 100%}
	.row .row { min-width: 0}
	.col { float: left; margin-left: 4.3%; position: relative; min-height: 1px}
		.col:first-child, .row ARTICLE.first, .row DIV.first, .row OL.first, .row UL.first { margin-left: 0}
        .box_neighbour { margin-left: 2.15%}
        .ie6 .col { display: inline}
	.oo4 { width: 21.7%} /*one of 4*/
		.to4 .oo4 { width: 29.41%}
	.oo3 { width: 30.4%}
    .oo2_box { margin: -4px 0 0 2.15%; padding: 3px 2.07%; width: 47.8%}
	.oo2 { width: 47.8%}
    	#leaders { border-right: 1px solid #B8BBBF; padding-right: 2.1%}
        .col .oo2 { border-right: 1px solid #B8BBBF; margin-left: 0; padding-right: 2.1%; width: 64.7%}
	.to3 { width: 65.1%}  /*two of 3*/
		.row .offset_by_one { margin-left: 26.1%}
	.to4 { width: 73.9%}  /*three of 4*/
/* Inner columns set by column-count/column-gap*/

/* Clearing -----------------------------------------------------------------------------------------------*/
.cfx:after, #content:after, .row:after { clear: both}
.cfx_left:after { clear: left}
.cfx:after,  #content:after, .cfx_left:after, .row:after { content: '\0020'; display: block; overflow: hidden; height: 0}
.cfx,  #content:after, .cfx_left, .row { zoom: 1}